@keyframes flash {
    0% {
        background-color: white;
        color: black;
    }
    5% {
        background-color: var(--c-cyan);
        color: white;
    }
    10% {
        background-color: white;
        color: black;
    }
    15% {
        background-color: var(--c-cyan);
        color: white;
    }
    20% {
        background-color: white;
        color: black;
    }
    25% {
        background-color: var(--c-cyan);
        color: white;
    }
    30% {
        background-color: white;
        color: black;
    }
    35% {
        background-color: var(--c-cyan);
        color: white;
    }  
    100% {
        background-color: rgba(2, 2, 7, 0.98);;
        color: var(--c-lightest);
    }
}

@keyframes slideright {
    0% {
        opacity: 0;
        transform: translateX(-200%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes sesame-up {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}
@keyframes sesame-down {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}
@keyframes sesame-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-120%);
    }
}
@keyframes sesame-right {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(120%);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
