.user-css {
    &.page-article {
        width: 100%;
        margin-top: 0 !important;
        border-top: 1px solid var(--c-gold-dimmer);
        border-bottom: 1px solid var(--c-gold-dimmer);
        background: rgba(2, 2, 7, 0.9);
        box-shadow: 10px 10px 20px 4px rgba(19, 25, 37, 0.8), -10px -10px 20px 4px rgba(19, 25, 37, 0.8);

        &.tag-top {
            .breadcrumb {
                display: none;
            }
        }

        .article-title,
        .tab-content,
        .article-content-bottom {
            padding-left: 0;
            border-left: none;
            width: auto;
        }

        .article-title {
            margin-left: 0;
            padding-left: 15px;

            &::before {
                position: absolute;
                top: -1px;
                left: 0;
                height: 3px;
                width: 0;
                background: linear-gradient(
                    90deg,
                    rgba(129, 91, 9, 1) 0%,
                    rgba(187, 128, 0, 1) 50%,
                    rgba(255, 179, 13, 1) 100%
                );
                content: url(.);
                animation: line-expander 5s 2.15s ease-out forwards 1;
                display: none;
            }
        }

        .tab-content,
        .article-content-bottom {
            margin-left: 0;
        }

        .tab-content {
            padding-bottom: 25px;
        }

        .article-content {
            border-bottom: 1px solid var(--c-gold-dimmer);
            overflow-x: hidden;
        }
    }

    #cover {
        max-height: 400px;
        display: flex;
        align-items: center;
        position: relative;

        .img-responsive {
            filter: blur(5px) brightness(5%) opacity(5%);
            animation: blurify 4s 1 ease-out normal forwards;
        }
        overflow: hidden;

        &:before,
        &:after {
            display: block;
            pointer-events: none;
            content: url(.);
            position: absolute;
            display: none;
        }

        &:before {
            width: 100%;
            height: $scan-width * 1;
            z-index: 200;
            background: $scan-color;
            opacity: $scan-opacity;
            @include scan-moving($scan-moving-line);
        }

        &:after {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 200;
            background: linear-gradient(to bottom, transparent 50%, $scan-color 51%);
            background-size: 100% $scan-width * 2;
            @include scan-crt($scan-crt);
        }

        &:hover,
        &:focus,
        &:active {
            &::before,
            &::after {
                display: none !important;
            }
        }
    }

    /** BREADCRUMBS AND SUBTITLES **/

    .breadcrumb-wrapper,
    .breadcrumb,
    .article-subheading,
    .nav-linear {
        font-family: var(--f3) !important;
        font-size: 13px;
    }

    .article-subheading {
        color: var(--c-gold-dimmer);
        font-variant: small-caps;
        font-weight: 600;
        letter-spacing: 1px;
        display: none;
        height: 20px;
    }

    .breadcrumb {
        padding: 0 5px;
        margin-left: -9px;
        margin-bottom: 0px;
        list-style: none;
        background-color: none;
        border-radius: 0;
        position: relative;
        background: none;
        display: block;
        height: 20px;
        opacity: 0;
        animation: fadein 5ms 1.4s forwards 1 linear;
        font-size: 10px;
        display: none;

        .breadcrumb-article-link,
        .world-category-breadcrumb-link {
            margin-right: 12px;

            color: var(--c-cyan-dark);
            text-decoration: none;
            transition: all 180ms ease;
            padding: 0px 4px;
            position: relative;

            &::after {
                content: url(.);
                position: absolute;
                display: block;
                height: 2px;
                width: 0;
                transition: width 180ms ease;
                transform-origin: left;
                bottom: -3.5px;
                left: 4px;
                background: var(--c-gold-dim);
            }

            &:hover,
            &:focus {
                color: var(--c-gold-dim);

                &::after {
                    width: calc(100% - 8px);
                }
            }

            &:active {
                color: var(--c-gold);

                &::after {
                    background: var(--c-gold);
                }
            }
        }

        .world-category-breadcrumb-link,
        .breadcrumb-category-article-redirect-link {
            opacity: 0;
        }

        .breadcrumb-article-current {
            margin-left: -5px;
            color: var(--c-cyan-darkest);
            font-weight: 300;
            opacity: 0.6;
            letter-spacing: 1px;
            border-right: 2px solid var(--c-cyan-darkest);
            padding-right: 2px;
            opacity: 0;
        }

        .breadcrumb-article-icon {
            display: none;
        }

        i {
            &.fa-ellipsis-h,
            &.fa-chevron-right {
                display: none;
            }
        }

        /** BREADCRUMB ANIMATION **/

        .breadcrumb-article-parent-categories-links-wrapper {
            a {
                animation: fadein 200ms 1500ms forwards ease-out 1;
                position: relative;

                &::before {
                    content: url(.);
                    position: absolute;
                    top: 1px;
                    right: -10px;
                    bottom: 1px;
                    width: 2px;
                    transform: skew(-30deg);
                    background: var(--c-cyan);
                    animation: fadein 200ms 1400ms forwards ease-out 1;
                }
            }
        }

        .breadcrumb-article-parent-link-wrapper {
            a {
                animation: fadein 200ms 1650ms forwards ease-out 1;
                position: relative;

                &::before {
                    content: url(.);
                    position: absolute;
                    top: 1px;
                    right: -10px;
                    bottom: 1px;
                    width: 2px;
                    transform: skew(-30deg);
                    background: var(--c-cyan);
                    animation: fadein 200ms 1550ms forwards ease-out 1;
                }
            }
        }

        .breadcrumb-article-links-wrapper {
            a {
                opacity: 0;
                animation: fadein 200ms 3300ms forwards ease-out 1;
                position: relative;

                &::before {
                    content: url(.);
                    position: absolute;
                    top: 1px;
                    right: -10px;
                    bottom: 1px;
                    width: 2px;
                    transform: skew(-30deg);
                    background: var(--c-cyan);
                    animation: fadein 200ms 3200ms forwards ease-out 1;
                }
            }

            .breadcrumb-article-parent-categories-links-wrapper * {
                animation: fadein 200ms forwards ease-out 1;

                &:nth-child(1) {
                    animation-delay: 2000ms;
                    &::before {
                        animation-delay: 2100ms;
                    }
                }
                &:nth-child(2) {
                    animation-delay: 2150ms;
                    &::before {
                        animation-delay: 2050ms;
                    }
                }
                &:nth-child(3) {
                    animation-delay: 2300ms;
                    &::before {
                        animation-delay: 2250ms;
                    }
                }
                &:nth-child(4) {
                    animation-delay: 2450ms;
                    &::before {
                        animation-delay: 2350ms;
                    }
                }
                &:nth-child(5) {
                    animation-delay: 2600ms;
                    &::before {
                        animation-delay: 2500ms;
                    }
                }
                &:nth-child(6) {
                    animation-delay: 2750ms;
                    &::before {
                        animation-delay: 26500ms;
                    }
                }
                &:nth-child(7) {
                    animation-delay: 2900ms;
                    &::before {
                        animation-delay: 2800ms;
                    }
                }
                &:nth-child(8) {
                    animation-delay: 3150ms;
                    &::before {
                        animation-delay: 3050ms;
                    }
                }
                &:nth-child(9) {
                    animation-delay: 3300ms;
                    &::before {
                        animation-delay: 3200ms;
                    }
                }
            }
        }

        .breadcrumb-article-wrapper {
            margin-left: 6px;

            .breadcrumb-article-current {
                opacity: 0;
                padding-right: 6px;
                transition: opacity 400ms ease;
                animation: fade-6 400ms 3450ms forwards ease-out, blink-caret 800ms infinite;
            }

            &:hover,
            &:focus {
                .breadcrumb-article-current {
                    opacity: 1;
                    color: var(--c-cyan);
                }
            }
        }
    }

    .article-subheading {
        padding-left: 0;
    }

    .user-css-vignette {
        /** EVERYTHING ELSE **/

        .main-article-link {
            display: block;
            margin-left: 0em;
            font-style: italic;
            font-size: 13px;
            margin-bottom: 10px;
            opacity: 0;
            transform: translateX(-100%);
            animation: fade-right 1s 4s forwards ease-out 1;

            a {
                color: var(--c-cyan);
                text-decoration: none;
                transition: all 100ms ease;
                border: none;
                border-radius: 0;
                white-space: nowrap;

                &:hover,
                &:focus {
                    color: var(--c-gold-dim);
                }

                &:active {
                    color: var(--c-gold);
                }
            }
        }

        h2 {
            padding-top: 5px;

            &:nth-child(1) {
                padding-top: 0;
            }
        }

        h3 {
            padding-top: 20px;
        }

        h4 {
            padding: 15px 0 6px 0;
        }
        h5 {
            padding: 10px 0 10px 0;
            font-size: 16px;
            color: var(--c-gold-dark);
        }
        a {
            white-space: normal !important;
        }


        span {
            .oomph {
                font-weight: 900;
                color: var(--c-lightest);
                transition: 300ms ease;
    
                &:hover,
                &:focus {
                    color: var(--c-gold);
                }
            }
    
            .placeholder {
                font-style: italic;
                border-bottom: 1px dashed;
            }

        }
        
        

        blockquote {
            background: transparent;
            margin: 10px 5px 25px 5px;
            border: none;
            padding: 5px;
            box-shadow: none;
            border-radius: 0;
            position: relative;

            em,
            small {
                font-family: var(--f1);
                font-size: 10px;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-style: normal;
                position: absolute;
                color: rgba(0, 0, 0, 0.6);
                font-weight: 800;
                display: none;
                z-index: 101;
            }

            small {
                display: flex;
                gap: 5px;
                white-space: nowrap;
            }

            .quotebox {
                background: var(--c-dark);
                color: var(--c-cyan-dark);
                margin: 0;

                border-radius: 0;
                font-family: var(--f2);
                padding: 20px;
                clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px));
                border: 1px solid var(--c-cyan-dark);

                &:hover,
                &:focus {
                    color: var(--c-cyan);

                    &::before,
                    &::after {
                        display: none;
                    }
                }
                position: relative;
                overflow: hidden;
            }

            .actual-quote {
                transition: color ease-in-out 250ms;
                clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px));
                background: var(--c-cyan-dark);
                width: 100%;
                overflow: hidden;
                padding: 1px;
            }

            .swiper {
                position: absolute;
                top: 1px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                overflow-x: hidden;
                animation: disaperator 1ms 4s linear forwards 1;

                &::after {
                    content: url(.);

                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: linear-gradient(90deg, var(--c-cyan-dark) 0%, var(--c-dark) 5%, var(--c-dark) 100%);
                    z-index: 99;
                    animation: sesame-right 2s 2s ease-out forwards 1;
                }
            }

            p {
                font-family: var(--f2);
                display: block;
                width: fit-content;
                margin: 0 auto;

                .text-abbreviation {
                    color: var(--c-cyan-dark);
                }
            }

            em {
                top: -9px;
                left: 20px;
            }

            small {
                bottom: -2px;
                right: 20px;
                text-align: right;

                .quotee {
                    display: none;
                }

                .quote-colon {
                    display: none;
                }

                .quoted-work {
                    display: none;
                }

                a {
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.65);
                    transition: 100ms ease;

                    &:hover,
                    &:focus {
                        color: var(--c-gold-dim);
                    }
                    &:active {
                        color: var(--c-gold);
                    }
                }

                .text-abbreviation {
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.65);
                    transition: 100ms ease;

                    &:hover,
                    &:focus {
                        color: var(--c-dark);
                    }

                    text-decoration: none;
                    text-decoration-line: none;
                    border-bottom-style: none;
                    border-bottom: none;
                    text-decoration: none;
                }

                &::before {
                    display: none;
                }
            }

            &::before,
            &::after {
                content: url(.);
                display: block;
                position: absolute;
                background: linear-gradient(
                    90deg,
                    var(--c-cyan-darkest) 0%,
                    var(--c-cyan) 50%,
                    var(--c-cyan-darkest) 100%
                );
                background-position-x: 50%;
                animation: oscil 3s linear infinite alternate;
                background-size: 200% 100%;
                z-index: 100;
                width: 35%;
                height: 50%;
                clip-path: polygon(
                    10px 0,
                    calc(100% - 10px) 0,
                    100% 10px,
                    calc(100% - 10px) 20px,
                    20px 20px,
                    20px calc(100% - 10px),
                    10px 100%,
                    0 calc(100% - 10px),
                    0 10px
                );
            }

            &::before {
                top: -5px;
                left: -5px;
            }

            &::after {
                transform: rotate(180deg);
                bottom: -5px;
                right: -5px;
            }
        }

        .text-abbreviation {
            text-decoration: none;
            color: #fff;
            transition: 200ms ease;

            &:hover,
            &:focus {
                color: var(--c-gold-dim);
            }

            text-decoration: none;
            text-decoration-line: none;
            border-bottom-style: none;
            border-bottom: none;
            text-decoration: none;
        }

        .matrix-wrapper {
            transform: scale(0.875);
            transform-origin: left;
            position: relative;
            background: var(--c-cyan-darkest);
            padding: 1px;
            margin: 1em 0;
            min-width: 350px;
            width: fit-content;
            max-width: 486px;
            clip-path: polygon(
                100px 0,
                100% 0,
                100% 10px,
                100% calc(100% - 10px),
                calc(100% - 10px) 100%,
                0px 100%,
                0 30px,
                10px 20px,
                80px 20px
            );

            &:before,
            &:after {
                content: url(.);
                position: absolute;
                z-index: 10;
                background: rgb(39, 153, 224);
                height: 30px;
                width: 30px;
            }
            &:before {
                top: 0;
                right: 0px;
            }

            &:after {
                bottom: 0;
                left: 0;
            }

            &.three {
                .matrix {
                    grid-template-columns: 100px 1fr 1fr 1fr;
                }
            }

            &.two {
                .matrix {
                    grid-template-columns: 100px 1fr 1fr;
                }
            }

            &.one {
                .matrix {
                    grid-template-columns: 100px 1fr;
                }
            }
        }

        .matrix {
            position: relative;
            display: grid;
            background: var(--c-dark);
            z-index: 15;
            clip-path: polygon(
                100px 0,
                100% 0,
                100% 10px,
                100% calc(100% - 10px),
                calc(100% - 10px) 100%,
                0px 100%,
                0 30px,
                10px 20px,
                80px 20px
            );
            .matrix-cell {
                font-family: var(--f1);
                font-size: 14.5px;
                color: var(--c-light);
                line-height: 1.2;
                padding: 10px;

                &.cell-label {
                    font-family: var(--f2);
                    color: var(--c-gray-light);
                    font-size: 11px;
                    text-transform: uppercase;
                    line-height: 1;
                    background: rgba(4, 97, 154, 0.01);
                    display: flex;
                    align-items: center;
                }
                &.cell-center {
                    text-align: center;
                    justify-content: center;
                }
                &.cell-top {
                    height: 30px;
                }
            }

            &::after {
                content: url(.);
                height: 100%;
                width: 100%;
                display: block;
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 1px;
                background: linear-gradient(90deg, var(--c-cyan-dark) 0%, var(--c-dark) 12.5%, var(--c-dark) 100%);
                animation: sesame-right 2s 2s ease-out forwards 1;
            }
        }
        a.spoiler-button {
            font-weight: 900;
            color: var(--c-cyan-light) !important;
            transition: 300ms ease;
            font-family: var(--f6);
            display: inline;
            background: none;
            margin: 0;
            padding: 0;
            font-size: 16px;
            line-height: 1.5;
            white-space: normal;
            vertical-align: unset;
            transition: 400ms ease-in-out;
            
            &:hover {
                color: var(--c-cyan-dark) !important;
            }

            &:active, &[aria-expanded="true"] {
                color: var(--c-cyan) !important;
                // margin: 0 auto 0 100px;
            }
        }
        .spoiler-card {
            width: fit-content;
            margin: 5px 0 10px 0;
        }
        .spoiler-content {
            padding: 0;
            background: none;
            color: unset;
            border-radius: unset;
            border: none;
            min-height: unset;
            margin: 0;

            .matrix-wrapper {
                margin: 0;

                .matrix::after {
                    animation: sesame-right 2s 0s ease-out forwards 1 !important;
                }
            }
        }
    }
}
