

.user-css {
    &.page-world-homepage {
        width: 100%;
        padding: 0;
        margin-top: 420px !important;
        margin-bottom: 0 !important;
        top: 0;
        z-index: 1050;
    
        .search-form,
        #cover,
        .heading,
        .world-bookcase {
            display: none;
        }
    
        .row,
        .col-md-12 {
            margin-inline: 0;
            padding-inline: 0;

            .user-custom-content.user-custom-content-4.m-b-20 {
                margin-bottom: 0 !important;
            }
        }
    
        .row {
            &:nth-of-type(4) {
                display: none;
            }
        }
    
        .destroyer {
            z-index: 1100;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(rgba(2, 2, 7, 0.9), rgba(2, 2, 7, 0.9)),
                url(https://www.worldanvil.com/uploads/images/3d9364baf000616c9c22021f30a7fdd7.jpg) fixed no-repeat;
            background-size: cover;
            background-color: var(--c-dark);
        }
    
        .hero-banner {
            background: url(https://www.worldanvil.com/uploads/images/3f6b5ae66aaca249e2f0080efb351ea3.jpg);
            background-size: cover;
            background-position: center;
            background-color: var(--c-dark);
            height: 520px;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1200;
            transition: 200ms ease;
            filter: blur(5px) brightness(5%) opacity(5%);
            animation: blurify 4s 1s 1 ease-out normal forwards;
            overflow: hidden;
    
            &:before,
            &:after {
                display: block;
                pointer-events: none;
                content: url(.);
                position: absolute;
            }
            &:before {
                width: 100%;
                height: $scan-width * 1;
                z-index: $scan-z-index + 1;
                background: $scan-color;
                opacity: $scan-opacity;
                @include scan-moving($scan-moving-line);
            }
            &:after {
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: $scan-z-index;
                background: linear-gradient(to bottom, transparent 50%, $scan-color 51%);
                background-size: 100% $scan-width * 2;
                @include scan-crt($scan-crt);
            }
        }
    
        .glitch {
            width: 100%;
            display: flex;
            justify-content: center;
            z-index: 1500;
            position: absolute;
            left: 0;
            right: 0;
            height: calc(48px * 3);
            background: rgba(0, 0, 0, 0.6);
            top: -284px;
            text-align: center;
    
            h2 {
                text-align: center;
                color: white;
                font-family: var(--f1);
                font-weight: 600;
                position: absolute;
                font-size: 48px;
                border-bottom: none;
                margin: 0 auto;
                padding: 0;
                display: block;
                animation: glitch1 5s infinite;
                line-height: 1;
    
                &::before,
                &::after {
                    display: none;
                }
    
                &:nth-child(2) {
                    color: var(--c-cyan);
                    animation: glitch2 5s infinite;
                }
                &:nth-child(3) {
                    color: var(--c-gold);
                    animation: glitch3 5s infinite;
                }
            }
        }
    
        .user-custom-content {
            margin-top: -5px;
        }
    
        .home-main-area {
            z-index: 1500;
            display: block;
            background: var(--c-dark);
            box-shadow: 10px -10px 20px 4px rgba(19, 25, 37, 0.8), -10px -10px 20px 4px rgba(19, 25, 37, 0.8);
            width: 100%;
            min-height: 100vh;
            position: relative;
            background: linear-gradient(rgba(2, 2, 7, 0.9), rgba(2, 2, 7, 0.9)),
                url(https://www.worldanvil.com/uploads/images/3d9364baf000616c9c22021f30a7fdd7.jpg) fixed no-repeat;
            background-size: cover;
            overflow: hidden;
            padding: 3em 20px;
            // padding-bottom: 190vh;
            color: var(--c-cyan-dark);
            text-align: center;

            .byline {
                margin-bottom: 4em;
            }

            h5 {
                font-family: var(--f2);
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 10px;
                color: var(--c-cyan-dark);

                a {
                    color: var(--c-cyan);
                    text-decoration: none;
                    transition: all 100ms ease;
                    border: none;
                    border-radius: 0;
                    white-space: nowrap;

                    &:hover,
                    &:focus {
                        color: var(--c-gold-dim);
                    }

                    &:active {
                        color: var(--c-gold);
                    }
                }
            }

            hr {
                margin: 30px auto;
                height: 2px;

                background: linear-gradient(90deg, rgb(2, 53, 85) 0%, rgb(67, 170, 235) 50%, rgb(2, 53, 85) 100%);
                background-position-x: 50%;
                animation: grow-center-hr-large 5s ease-out forwards 1, oscil 2s linear infinite alternate;
                background-size: 200% 100%;
                border: none;
            }

            p {
                color: var(--c-lightest);
            }

            blockquote {
                background: transparent;
                margin: 10px 5px 25px 5px;
                border: none;
                padding: 5px;
                box-shadow: none;
                border-radius: 0;
                position: relative;
    
                em,
                small {
                    font-family: var(--f1);
                    font-size: 10px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    font-style: normal;
                    position: absolute;
                    color: rgba(0, 0, 0, 0.6);
                    font-weight: 800;
                    display: none;
                    z-index: 101;
                }
    
                small {
                    display: flex;
                    gap: 5px;
                    white-space: nowrap;
                }
    
                .quotebox {
                    background: var(--c-dark);
                    color: var(--c-cyan-dark);
                    margin: 0;
    
                    border-radius: 0;
                    font-family: var(--f2);
                    padding: 20px;
                    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px));
                    border: 1px solid var(--c-cyan-dark);
    
                    &:hover,
                    &:focus {
                        color: var(--c-cyan);
                    }
                    position: relative;
                    overflow: hidden;
                }
    
                .actual-quote {
                    transition: color ease-in-out 250ms;
                    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px));
                    background: var(--c-cyan-dark);
                    width: 100%;
                    overflow: hidden;
                    padding: 1px;
                }
    
                .swiper {
                    position: absolute;
                    top: 1px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    overflow-x: hidden;
                    animation: disaperator 1ms 4s linear forwards 1;
    
                    &::after {
                        content: url(.);
    
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: linear-gradient(90deg, var(--c-cyan-dark) 0%, var(--c-dark) 5%, var(--c-dark) 100%);
                        z-index: 99;
                        animation: sesame-right 2s 2s ease-out forwards 1;
                    }
                }
    
                p {
                    font-family: var(--f2);
                    display: block;
                }
    
                em {
                    top: -9px;
                    left: 20px;
                }
    
                small {
                    bottom: -2px;
                    right: 20px;
                    text-align: right;
    
                    .quotee {
                        display: none;
                    }
    
                    .quote-colon {
                        display: none;
                    }
    
                    .quoted-work {
                        display: none;
                    }
    
                    a {
                        text-decoration: none;
                        color: rgba(0, 0, 0, 0.8);
                        transition: 100ms ease;
    
                        &:hover,
                        &:focus {
                            color: var(--c-gold-dim);
                        }
                        &:active {
                            color: var(--c-gold);
                        }
                    }
    
                    &::before {
                        display: none;
                    }
                }
    
                &::before,
                &::after {
                    content: url(.);
                    display: block;
                    position: absolute;
                    background: linear-gradient(
                        90deg,
                        var(--c-cyan-darkest) 0%,
                        var(--c-cyan) 50%,
                        var(--c-cyan-darkest) 100%
                    );
                    background-position-x: 50%;
                    animation: oscil 3s linear infinite alternate;
                    background-size: 200% 100%;
                    z-index: 100;
                    width: 35%;
                    height: 50%;
                    clip-path: polygon(
                        10px 0,
                        calc(100% - 10px) 0,
                        100% 10px,
                        calc(100% - 10px) 20px,
                        25px 20px,
                        20px 25px,
                        20px calc(100% - 10px),
                        10px 100%,
                        0 calc(100% - 10px),
                        0 10px
                    );
                }
    
                &::before {
                    top: -5px;
                    left: -5px;
                }
    
                &::after {
                    transform: rotate(180deg);
                    bottom: -5px;
                    right: -5px;
                }
            }

            .archive-blurb {
                sup,
                h3 {
                    font-family: var(--f4);
                    color: var(--c-gold-dim);
                    letter-spacing: 1px;
                    margin-bottom: 0;
                    line-height: 1;
                }
                sup {
                    font-size: 14px;
                    text-transform: uppercase;
                }
                h3 {
                    margin-top: -8px;
                    padding-top: 0;
                    font-size: 24px;
                    font-variant: small-caps;
                }
                hr {
                    margin: 15px auto;
                    animation: grow-center-hr-small 5s ease-out forwards 1, oscil 2s linear infinite alternate;
                }
                h5 {
                    text-transform: none;
                }
            }

            .home-selector {
                display: grid;
                gap: 1em;
                padding: 1.5em 20px;
                justify-content: center;
                align-items: center;
                position: relative;
                grid-template-columns: 280px;
                grid-template-rows: 280px 1fr 280px 1fr 280px 1fr 280px 1fr 280px 1fr 280px 1fr;

                a {
                    display: block;
                    margin: auto;
                    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
                    padding: 5px;
                    height: 210px;
                    width: 210px;
                    background: var(--c-gold-gradient), var(--c-gold-dimmer);
                    transition: 500ms ease-out;
                    position: relative;
                    overflow: hidden;

                    &:hover,
                    &:focus {
                        &::before,
                        &::after {
                            display: none;
                        }
                    }

                    .home-hexer {
                        display: block;
                        margin: auto;
                        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        position: relative;
                        transition: 500ms linear;

                        &::before {
                            content: url(https://www.worldanvil.com/uploads/images/254f8491274d0207d791e6d6a43c8f07.svg);
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            left: 0;
                            opacity: 0;
                            transition: 500ms linear;
                        }

                        &::after {
                            content: url(https://www.worldanvil.com/uploads/images/f58272769172069703427b677a19a9e5.svg);
                            background: rgba(22, 16, 1, 0.85);
                            background-blend-mode: screen;
                            clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
                            position: absolute;
                            top: 10px;
                            bottom: 10px;
                            right: 10px;
                            left: 10px;
                            opacity: 0;
                            transition: 500ms linear;
                        }
                    }
                }

                .hexer-wrapper {
                    &.hexer-oecumene {
                        grid-row: 1/2;
                        a .home-hexer {
                            background: url(https://www.worldanvil.com/uploads/images/bf31ff772b7265c1be4176d164fa0a87.jpg);
                            background-position-x: 79%;
                            background-size: cover;

                            &::after {
                                content: url(https://www.worldanvil.com/uploads/images/bd120ed4fba1acd97ee2c57f6466ba2b.png);
                            }
                        }
                    }
                    &.hexer-communion {
                        grid-row: 3/4;
                        a .home-hexer {
                            background: url(https://www.worldanvil.com/uploads/images/3b992ab16750e79b19d762072d41a12d.jpg);
                            background-position-x: 81%;
                            background-size: cover;

                            &::after {
                                content: url(https://www.worldanvil.com/uploads/images/f60d698ff9bea8f7e0f1f6737f4aa728.png);
                            }
                        }
                    }
                    &.hexer-principalia {
                        grid-row: 5/6;
                        a .home-hexer {
                            background: url(https://www.worldanvil.com/uploads/images/e6bfc8cd02805427f11fce34bee90ded.jpg);
                            background-size: cover;

                            &::after {
                                content: url(https://www.worldanvil.com/uploads/images/3992de1844b0813a7546ef4e389ec681.png);
                            }
                        }
                    }
                    &.hexer-people {
                        grid-row: 7/8;
                        a .home-hexer {
                            background: url(https://www.worldanvil.com/uploads/images/da5205744d769fc4dac845e329be58ff.jpg);
                            background-position-y: 15%;
                            background-size: cover;

                            &::after {
                                content: url(https://www.worldanvil.com/uploads/images/467ab97a5cf77ae7326463905c9f1419.png);
                            }
                        }
                    }
                    &.hexer-compendium {
                        grid-row: 9/10;
                        a .home-hexer {
                            background: url(https://www.worldanvil.com/uploads/images/0f60bb9fe307de5ca13f7823575fabdf.jpg);
                            background-size: 600%;
                            background-repeat: no-repeat;
                            background-position: 25% 0;

                            &::after {
                                content: url(https://www.worldanvil.com/uploads/images/28391dd4b2c038c50c93848b3f436c75.png);
                            }
                        }
                    }
                    &.hexer-history {
                        grid-row: 11/12;
                        a .home-hexer {
                            background: url(https://www.worldanvil.com/uploads/images/e3268e8d41d624fb86e476e6af950b22.jpg);
                            background-position: 51% 82%;
                            background-size: cover;
                            background-repeat: no-repeat;

                            &::after {
                                content: url(https://www.worldanvil.com/uploads/images/3073ba7e297b6dcbdec6ec7a4e76d119.png);
                            }
                        }
                    }

                    &:hover,
                    &:focus {
                        a {
                            background: url(https://www.worldanvil.com/uploads/images/4ddbbd9acc247507f132ee9e83e6f15b.svg),
                                var(--c-gold);

                            &::before,
                            &::after {
                                opacity: 1;
                            }

                            .home-hexer {
                                &::before,
                                &::after {
                                    opacity: 1;
                                }
                            }
                        }

                        & ~ .home-hexer-box {
                            opacity: 1;
                            animation: grow 600ms ease-out forwards 1;

                            .home-hexer-box-inner {
                                opacity: 1;
                            }

                            &::before {
                                opacity: 0.2;
                                animation: grow 1.5s ease-out forwards 1, throb 4s 1.5s linear infinite;
                            }
                        }

                        &.hexer-oecumene ~ .hexer-text:nth-of-type(2) h4 {
                            color: var(--c-gold);
                        }
                        &.hexer-communion ~ .hexer-text:nth-of-type(4) h4 {
                            color: var(--c-gold);
                        }
                        &.hexer-principalia ~ .hexer-text:nth-of-type(6) h4 {
                            color: var(--c-gold);
                        }
                        &.hexer-people ~ .hexer-text:nth-of-type(8) h4 {
                            color: var(--c-gold);
                        }
                        &.hexer-compendium ~ .hexer-text:nth-of-type(10) h4 {
                            color: var(--c-gold);
                        }
                        &.hexer-history ~ .hexer-text:nth-of-type(12) h4 {
                            color: var(--c-gold);
                        }

                        &.hexer-oecumene {
                            & ~ .home-hexer-box {
                                grid-row: 1/2;
                                grid-column: 1/2;
                            }
                        }
                        &.hexer-communion {
                            & ~ .home-hexer-box {
                                grid-row: 3/4;
                                grid-column: 1/2;
                            }
                        }
                        &.hexer-principalia {
                            & ~ .home-hexer-box {
                                grid-row: 5/6;
                                grid-column: 1/2;
                            }
                        }
                        &.hexer-people {
                            & ~ .home-hexer-box {
                                grid-row: 7/8;
                                grid-column: 1/2;
                            }
                        }
                        &.hexer-compendium {
                            & ~ .home-hexer-box {
                                grid-row: 9/10;
                                grid-column: 1/2;
                            }
                        }
                        &.hexer-history {
                            & ~ .home-hexer-box {
                                grid-row: 11/12;
                                grid-column: 1/2;
                            }
                        }
                    }
                }

                .hexer-text {
                    text-align: center;
                    color: var(--c-gold-dim);
                    transition: 300ms ease;
                    margin: 0 auto auto auto;

                    h4 {
                        transition: inherit;
                        font-size: 1.1em;
                    }

                    grid-column: 1/2;

                    &:nth-of-type(2) {
                        grid-row: 2/3;
                    }
                    &:nth-of-type(4) {
                        grid-row: 4/5;
                    }
                    &:nth-of-type(6) {
                        grid-row: 6/7;
                    }
                    &:nth-of-type(8) {
                        grid-row: 8/9;
                    }
                    &:nth-of-type(10) {
                        grid-row: 10/11;
                    }
                    &:nth-of-type(12) {
                        grid-row: 12/13;
                    }
                }

                .home-hexer-box {
                    position: absolute;
                    z-index: -1;
                    transition: none;
                    width: 240px;
                    height: 240px;
                    opacity: 0;
                    background: url(https://www.worldanvil.com/uploads/images/2e1fe58101c5ad5f5da0d5f8f9627051.svg);
                    left: 0;
                    right: 0;
                    margin: 0 auto;

                    &:before {
                        content: url(https://www.worldanvil.com/uploads/images/f417562b9f31a31143898b099b750753.svg);
                        position: absolute;
                        z-index: -1;
                        transition: none;
                        top: -20px;
                        left: -20px;
                        bottom: -20px;
                        right: -20px;
                        opacity: 0;
                        width: 280px;
                        height: 280px;
                        display: none;
                    }
                }

                .home-hexer-box-inner {
                    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
                    position: absolute;
                    z-index: -1;
                    transition: none;
                    width: 230px;
                    height: 230px;
                    opacity: 1;
                    background: black;
                    left: 0;
                    right: 0;
                    margin: auto;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }            

            .home-selector-for-trads {
                display: none;
                grid-template-columns: 150px 150px 150px 150px 332px;
                gap: 1em;
                padding: 1.5em 20px;
                justify-content: center;
                transform: scale(0.825);
                transform-origin: top;

                a {
                    position: relative;

                    &:hover, &:focus {
                        text-decoration: none !important;

                        .bar-wrapper {
                            border: 1px solid var(--c-light);
                            outline: 1px solid rgba(113, 124, 142, 0.4);
                            outline-offset: -0.5em;

                            .bar-image {
                                opacity: 0.4;

                            }

                            &::before {
                                animation: 400ms ease-out selector-frame-tl forwards 1;
                            }
                            &::after {
                                animation: 400ms ease-out selector-frame-br  forwards 1;
                            }

                            .archive-designation, .archive-type {
                                opacity: 0;
                                visibility: hidden;
                            }

                            em .archive-designation {
                                margin-left: 0;
                                width: 0;
                            }

                            .archive-name {
                                color: var(--c-gold);
                                animation: throb 10s ease-in-out infinite;
                            }

                            .selector-icon {
                                opacity: 0.85;
                                // transform: rotate(0deg);
                                visibility: visible;
                                animation: throb 10s ease-in-out infinite;
                            }

                        }
                    }
                }

                .extra-boxes {
                    a {
                        &:hover, &:focus {
                            .bar-wrapper em {
                                .archive-name {
                                    margin-left: 50%;
                                    transform: translateX(-50%);
                                }
                            }
                        }
                    }
                }

                .bar-wrapper {
                    height: 680px;
                    width: 150px;
                    border: 1px solid rgba(113, 124, 142, 0.4);
                    outline: 0px solid rgba(113, 124, 142, 0.4);
                    padding: 1em;
                    position: relative;
                    display: flex;
                    transition: all 300ms linear;
                    background: var(--c-dark);

                    .archive-text-wrapper, .archive-text-wrapper em {
                        display: block;
                        color: var(--c-lightest);
                        text-align: left;
                        width: max-content;
                        padding: 0;
                        margin: 0;
                        line-height: 1;
                        font-family: var(--f3);
                    }

                    .archive-text-wrapper {
                        display: flex;
                        justify-content: space-between;
                        height: 100%;
                        align-items: flex-start;
                        transform: rotate(180deg);
                        writing-mode: vertical-lr;
                        z-index: 125;
                        position: relative;
                        margin: 0 auto;
                        transition: all 300ms linear;

                        em {
                            font-style: normal;
                            transition: all 300ms linear;
                        }

                        .archive-designation, .archive-type {
                            text-transform: uppercase;
                        }

                        .archive-designation {
                            margin-left: 2.25em;
                            letter-spacing: 1.1px;
                            font-size: 11px;
                            font-weight: 900;
                            transition: all 300ms linear;
                        }
    
                        .archive-name {
                            font-family: var(--f2);
                            letter-spacing: 1.1px;
                            text-transform: none;
                            font-variant: small-caps;
                            font-size: 65px;
                            line-height: 0.65;
                            font-weight: 900;
                            transition: all 300ms linear;
                        }
    
                        .archive-type {
                            font-size: 9px;
                            letter-spacing: 2px;
                            color: var(--c-gray-light);
                            transition: all 300ms linear;
                        }
                    }    

                    .bar-image {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-repeat: no-repeat;
                        transition: 300ms linear;

                        &::after {
                            content: url(.);
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: linear-gradient(180deg, var(--c-gray-light) 0%, var(--c-dark) 15%, var(--c-dark) 100%);
                            z-index: 99;
                            animation: sesame-down-wipe 2s 2s ease-out forwards 1;
                            transform-origin: bottom center;
                        }
                    }

                    &:before,
                    &:after {
                        content: url(.);
                        position: absolute;
                        z-index: -1;
                        background: var(--c-gold-dim);
                        height: 30%;
                        width: 30%;
                        clip-path: polygon(0 0, calc(100% - 8px) 0, 100% 8px, 100% 100%, 8px 100%, 0 calc(100% - 8px));
                        transition: 400ms ease-in-out;
                    }
                    &:before {
                        top: 0;
                        left: 0;
                    }
    
                    &:after {
                        bottom: 0;
                        right: 0;
                        transform: rotate(180deg);
                    }


                    &.bar-oecumene {
                        .bar-image {
                            background: linear-gradient(90deg,rgba(2, 2, 7, 0.05) 0%,rgba(2, 2, 7, 0.2) 35%,rgba(2, 2, 7, 1) 100%), linear-gradient(180deg,rgba(2, 2, 7, 0.05) 0%,rgba(2, 2, 7, 0.2) 15%,rgba(2, 2, 7, 1) 100%), url(https://www.worldanvil.com/uploads/images/bf31ff772b7265c1be4176d164fa0a87.jpg);
                            background-position: 64% 92%;
                        }
                    }
                    &.bar-communion {
                        .bar-image {
                            background: linear-gradient(90deg,rgba(2, 2, 7, 0.05) 0%,rgba(2, 2, 7, 0.2) 35%,rgba(2, 2, 7, 1) 100%), linear-gradient(180deg,rgba(2, 2, 7, 0.05) 0%,rgba(2, 2, 7, 0.2) 15%,rgba(2, 2, 7, 1) 100%), url(https://www.worldanvil.com/uploads/images/3b992ab16750e79b19d762072d41a12d.jpg);
                            background-position: 64% 85%;
                        }
                    }
                    &.bar-principalia {
                        .bar-image {
                            background: linear-gradient(90deg,rgba(2, 2, 7, 0.05) 0%,rgba(2, 2, 7, 0.2) 35%,rgba(2, 2, 7, 1) 100%), linear-gradient(180deg,rgba(2, 2, 7, 0.05) 0%,rgba(2, 2, 7, 0.2) 15%,rgba(2, 2, 7, 1) 100%), url(https://www.worldanvil.com/uploads/images/e6bfc8cd02805427f11fce34bee90ded.jpg);
                            background-position-x: 76%;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                    }
                    &.bar-peoples {
                        .bar-image {
                            background: linear-gradient(90deg,rgba(2, 2, 7, 0.05) 0%,rgba(2, 2, 7, 0.2) 35%,rgba(2, 2, 7, 1) 100%), linear-gradient(180deg,rgba(2, 2, 7, 0.05) 0%,rgba(2, 2, 7, 0.2) 15%,rgba(2, 2, 7, 1) 100%), url(https://www.worldanvil.com/uploads/images/da5205744d769fc4dac845e329be58ff.jpg);
                            background-position: 51% 82%;
                            background-size: 320%;
                            background-repeat: no-repeat;
                        }
                    }
                    &.bar-compendium {
                        .bar-image {
                            background: linear-gradient(90deg,rgba(2, 2, 7, 0.35) 0%,rgba(2, 2, 7, 0.35) 100%), url(https://www.worldanvil.com/uploads/images/0f60bb9fe307de5ca13f7823575fabdf.jpg);
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position-x: 25%;
                        }
                    }
                    &.bar-histories {
                        .bar-image {
                            background: linear-gradient(90deg,rgba(2, 2, 7, 0.65) 0%,rgba(2, 2, 7, 0.65) 100%), url(https://www.worldanvil.com/uploads/images/e3268e8d41d624fb86e476e6af950b22.jpg);
                            background-position: 51% 82%;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                    }
                }

                .extra-boxes {
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    gap: 1em;

                    .bar-wrapper {
                        height: 100%;
                        width: 100%;

                        .bar-image{

                        }
                        
                        .archive-designation, .archive-type, .archive-name {
                            writing-mode: unset;
                            display: block;
                            color: var(--c-lightest);
                            text-align: left;
                            width: max-content;
                            padding: 0;
                            margin: 0;
                            line-height: 1;
                            font-family: var(--f3);
                            transition: all 300ms linear;
                        }

                        .archive-designation {
                            letter-spacing: 1.1px;
                            font-size: 10px;
                            font-weight: 900;
                            margin: 0 0 0 auto;
                            z-index: 500;
                        }

                        em {
                            position: absolute;
                            bottom: 1em;
                            left: 1em;
                            right: 1em;
                            font-style: normal;
                            transition: all 350ms ease-in-out;
                        }

                        .archive-type {
                            margin-bottom: 1em;
                            font-size: 9px;
                            letter-spacing: 2px;
                            color: var(--c-gray-light);
                            text-transform: uppercase;
                        }

                        .archive-name {
                            font-family: var(--f2);
                            letter-spacing: 1.1px;
                            text-transform: none;
                            font-variant: small-caps;
                            font-size: 36px;
                            font-weight: 900;
                            transition: all 350ms ease-in-out;
                        }

                        .selector-icon {
                            top: 0;
                            bottom: 48px;
                            margin: auto;
                            font-size: 160px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }

                .selector-icon {
                    font-family: var(--i);
                    color: var(--c-gold);
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    font-size: 100px;
                    text-align: center;
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    top: 0;
                    transition: all 350ms ease-in-out;
                    // transform: rotate(-20deg);
                }

                
            }
        }
    
        .world-subtitle small {
            font-variant: small-caps;
            letter-spacing: 1px;
            color: var(--c-gold-dark);
            font-weight: 600;
            font-size: 16px;
        }
    
        .copyright-attribution {
            display: none !important;
    
            &::before,
            &::after {
                display: none;
            }
    
            .bottomnotch {
                display: none !important;
            }
        }
    }

}
