@media only screen and (min-width: 465px) {
    .user-css {
        &.page-world-homepage {
            .glitch {
                height: 104px;
                top: -260px;
            }
        }

        &.page-article {
            .article-content {
                .world-global-article-introduction {
                    .breadcrumb {
                        display: block;
                    }
                }
            }
        }

        &.tag-top {
            .article-content {
                .world-global-article-introduction {
                    .breadcrumb {
                        display: none !important;
                    }
                }
            }            
        }

        
    }
}
@media only screen and (min-width: 530px) {
    .user-css {
        .user-css-vignette {
            blockquote {
                em,
                small {
                    display: flex;

                    .quotee {
                        display: inline-block;
                    }
                }

                &::after {
                    width: 40%;
                }
            }
        }
    }
}

@media only screen and (min-width: 590px) {
    .user-css {
        &.page-article {
            .article-content {
                .world-global-article-introduction {
                    .breadcrumb {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 678px) {
    .user-css {
        &.page-world-homepage {
            .glitch {
                top: 238px;
                height: 50px;
            }
        }
        .user-css-vignette {
            blockquote {
                &::after {
                    width: 35%;
                }
            }
        }
    }
}

@media only screen and (min-width: 850px) {
    .user-css-presentation {
    }
    .user-css {
        &.page-article {
            .article-content .tab-content {
                .user-css-vignette {
                    .custom-sidebar-wrapper {
                        display: block;
                    }
                }
            }
        }

        &.page-world-homepage {
            .glitch {
                height: 60px;
                h2 {
                    font-size: 58px;
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    .user-css-presentation {
    }

    
    .user-css {
        .user-css-vignette {
            .main-article-link {
                margin-left: 2em;
            }
        }

        &.page-world-homepage {
            .glitch {
                height: 136px;
                top: -284px;
                padding: 0 10px;
                h2 {
                    font-size: 66px;
                }
            }

            .home-main-area {
                padding-bottom: 50vh;
                .home-selector-wrapper {
                    .home-selector {
                        grid-template-columns: repeat(3, 280px);
                        grid-template-rows: 280px 1fr 280px 1fr;

                        .hexer-wrapper {
                            &.hexer-oecumene {
                                grid-row: 1/2;
                                grid-column: 1/2;
                            }
                            &.hexer-communion {
                                grid-row: 1/2;
                                grid-column: 2/3;
                            }
                            &.hexer-principalia {
                                grid-row: 1/2;
                                grid-column: 3/4;
                            }
                            &.hexer-people {
                                grid-row: 3/4;
                                grid-column: 1/2;
                            }
                            &.hexer-compendium {
                                grid-row: 3/4;
                                grid-column: 2/3;
                            }
                            &.hexer-history {
                                grid-row: 3/4;
                                grid-column: 3/4;
                            }

                            &:hover,
                            &:focus {
                                &.hexer-oecumene {
                                    & ~ .home-hexer-box {
                                        grid-row: 1/2;
                                        grid-column: 1/2;
                                    }
                                }
                                &.hexer-communion {
                                    & ~ .home-hexer-box {
                                        grid-row: 1/2;
                                        grid-column: 2/3;
                                    }
                                }
                                &.hexer-principalia {
                                    & ~ .home-hexer-box {
                                        grid-row: 1/2;
                                        grid-column: 3/4;
                                    }
                                }
                                &.hexer-people {
                                    & ~ .home-hexer-box {
                                        grid-row: 3/4;
                                        grid-column: 1/2;
                                    }
                                }
                                &.hexer-compendium {
                                    & ~ .home-hexer-box {
                                        grid-row: 3/4;
                                        grid-column: 2/3;
                                    }
                                }
                                &.hexer-history {
                                    & ~ .home-hexer-box {
                                        grid-row: 3/4;
                                        grid-column: 3/4;
                                    }
                                }
                            }
                        }
                        .hexer-text {
                            &:nth-of-type(2) {
                                grid-row: 2/3;
                                grid-column: 1/2;
                            }
                            &:nth-of-type(4) {
                                grid-row: 2/3;
                                grid-column: 2/3;
                            }
                            &:nth-of-type(6) {
                                grid-row: 2/3;
                                grid-column: 3/4;
                            }
                            &:nth-of-type(8) {
                                grid-row: 4/5;
                                grid-column: 1/2;
                            }
                            &:nth-of-type(10) {
                                grid-row: 4/5;
                                grid-column: 2/3;
                            }
                            &:nth-of-type(12) {
                                grid-row: 4/5;
                                grid-column: 3/4;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media-only screen and (min-width: 930px) {
    .user-css {
        &.page-world-homepage {
            .glitch {
                height: 68px;
                top: 253px;
            }
        }
    }
}

@media-only screen and (min-width: 1000px) {
    .user-css {
        .user-css-vignette {
            blockquote {
                em,
                small {
                    .quote-colon,
                    .quoted-work {
                        display: inline-block;
                    }
                }

                &::after {
                    width: 40%;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .user-css-presentation {
        .world-navigation-palette-trigger {
            display: none;
        }

        .world-global-header {
            display: grid;
        }

        .article-table-of-contents {
            display: block;
        }
    }


    .user-css {
        .search-form {
            display: flex;
        }

        &.page-article {
            .article-content {
                .article-title {
                    margin-left: 289px;
                    border-left: 1px solid var(--c-gold-dimmer);

                    .article-table-of-contents {
                        display: block;
                    }
                }
            }

            .article-title {
                &::before {
                    display: block;
                }
            }

            .article-title,
            .article-content .tab-content,
            .article-content-bottom {
                padding-left: 25px;
                border-left: 1px solid var(--c-gold-dimmer);
                width: auto;
            }

            .article-content .tab-content,
            .article-content-bottom {
                margin-left: 274px;
            }

            .user-css-vignette {
                blockquote {
                    em,
                    small {
                        display: flex;

                        .quotee {
                            display: inline-block;
                        }
                        .quote-colon,
                        .quoted-work {
                            display: none;
                        }
                    }

                    small {
                        right: 25px;
                    }

                    .actual-quote {
                        width: calc(100% - 5px);
                    }

                    &::after {
                        width: 40%;
                        right: 0;
                    }
                }

                .custom-sidebar-wrapper {
                    background: var(--c-cyan-gradient);
                    position: relative;
                    clip-path: polygon(
                        calc(100% - 40px) 0px,
                        calc(100% - 20px) 20px,
                        calc(100% - 20px) 55px,
                        100% 75px,
                        100% 175px,
                        calc(100% - 20px) 195px,
                        calc(100% - 20px) calc(100% - 20px),
                        calc(100% - 30px) calc(100% - 10px),
                        calc(100% - 90px) calc(100% - 10px),
                        calc(100% - 100px) 100%,
                        10px 100%,
                        0px calc(100% - 10px),
                        0% 30px,
                        10px 20px,
                        80px 20px,
                        100px 0%
                    );
                    filter: none;
                    padding: 1px;
                    top: unset;
                    cursor: unset;
                    overflow-x: hidden;
                    height: auto;
                    width: 370px;
                    margin-top: 0;
                    margin-left: 15px;
                    float: right;
                    margin-right: 0;

                    small {
                        display: block;
                    }

                    .fa-database {
                        display: none;
                    }

                    .custom-sidebar-inner {
                        opacity: 1;
                        transform: none;
                        clip-path: polygon(
                            calc(100% - 40px) 0px,
                            calc(100% - 20px) 20px,
                            calc(100% - 20px) calc(100% - 20px),
                            calc(100% - 30px) calc(100% - 10px),
                            calc(100% - 115px) calc(100% - 10px),
                            calc(100% - 125px) 100%,
                            10px 100%,
                            0px calc(100% - 10px),
                            0% 30px,
                            10px 20px,
                            100px 20px,
                            120px 0%
                        );
                        animation: flash 400ms 3.5s linear 1 normal;
                        overflow-x: hidden;
                        overflow-y: unset;
                        height: unset;
                    }

                    .custom-sidebar {
                        padding: 25px 30px 25px 10px;
                        clip-path: polygon(
                            calc(100% - 40px) 0px,
                            calc(100% - 20px) 20px,
                            calc(100% - 20px) calc(100% - 20px),
                            calc(100% - 30px) calc(100% - 10px),
                            calc(100% - 115px) calc(100% - 10px),
                            calc(100% - 125px) 100%,
                            10px 100%,
                            0px calc(100% - 10px),
                            0% 30px,
                            10px 20px,
                            100px 20px,
                            120px 0%
                        );
                    }

                    &::before,
                    &::after {
                        display: block;
                    }

                    &:hover,
                    &:focus,
                    &:focus-within,
                    &:active {
                        overflow-x: hidden;
                        overflow-y: unset;
                        clip-path: polygon(
                            calc(100% - 40px) 0px,
                            calc(100% - 20px) 20px,
                            calc(100% - 20px) 55px,
                            100% 75px,
                            100% 175px,
                            calc(100% - 20px) 195px,
                            calc(100% - 20px) calc(100% - 20px),
                            calc(100% - 30px) calc(100% - 10px),
                            calc(100% - 90px) calc(100% - 10px),
                            calc(100% - 100px) 100%,
                            10px 100%,
                            0px calc(100% - 10px),
                            0% 30px,
                            10px 20px,
                            80px 20px,
                            100px 0%
                        );
                        width: 370px;
                        background: var(--c-cyan-gradient);
                        bottom: unset;
                        padding: 1px;

                        .custom-sidebar-inner {
                            transform: none;
                            border: none;
                            width: auto;

                            .custom-sidebar {
                                overflow-y: unset;
                            }
                        }
                    }
                }
            }

            #cover {
                &:before,
                &:after {
                    display: block;
                    pointer-events: none;
                }
            }
        }

        &.page-world-homepage {
            .glitch {
                height: 74px;
                top: -300px;
                h2 {
                    font-size: 72px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1300px) {
    .user-css {
        &.page-article {
            .user-css-vignette {
                blockquote {
                    small {
                        .quote-colon,
                        .quoted-work {
                            display: inline-block;
                        }
                    }
                    &::after {
                        width: 65%;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1455px) {
    .user-css-presentation {
    }
}

@media only screen and (min-width: 1600px) {
    .user-css-presentation {
    }
    .user-css {
        &.page-article {
            .user-css-vignette {
                blockquote {
                    &::after {
                        width: 45%;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1750px) {
    .user-css {
        &.page-world-homepage .home-main-area .home-selector-wrapper {
            .home-selector {
                grid-template-columns: repeat(6, 280px);
                grid-template-rows: 280px 1fr;

                .hexer-wrapper {
                    &.hexer-oecumene {
                        grid-row: 1/2;
                        grid-column: 1/2;
                    }
                    &.hexer-communion {
                        grid-row: 1/2;
                        grid-column: 2/3;
                    }
                    &.hexer-principalia {
                        grid-row: 1/2;
                        grid-column: 3/4;
                    }
                    &.hexer-people {
                        grid-row: 1/2;
                        grid-column: 4/5;
                    }
                    &.hexer-compendium {
                        grid-row: 1/2;
                        grid-column: 5/6;
                    }
                    &.hexer-history {
                        grid-row: 1/2;
                        grid-column: 6/7;
                    }

                    &:hover,
                    &:focus {
                        &.hexer-oecumene {
                            & ~ .home-hexer-box {
                                grid-row: 1/2;
                                grid-column: 1/2;
                            }
                        }
                        &.hexer-communion {
                            & ~ .home-hexer-box {
                                grid-row: 1/2;
                                grid-column: 2/3;
                            }
                        }
                        &.hexer-principalia {
                            & ~ .home-hexer-box {
                                grid-row: 1/2;
                                grid-column: 3/4;
                            }
                        }
                        &.hexer-people {
                            & ~ .home-hexer-box {
                                grid-row: 1/2;
                                grid-column: 4/5;
                            }
                        }
                        &.hexer-compendium {
                            & ~ .home-hexer-box {
                                grid-row: 1/2;
                                grid-column: 5/6;
                            }
                        }
                        &.hexer-history {
                            & ~ .home-hexer-box {
                                grid-row: 1/2;
                                grid-column: 6/7;
                            }
                        }
                    }
                }
                .hexer-text {
                    &:nth-of-type(2) {
                        grid-row: 2/3;
                        grid-column: 1/2;
                    }
                    &:nth-of-type(4) {
                        grid-row: 2/3;
                        grid-column: 2/3;
                    }
                    &:nth-of-type(6) {
                        grid-row: 2/3;
                        grid-column: 3/4;
                    }
                    &:nth-of-type(8) {
                        grid-row: 2/3;
                        grid-column: 4/5;
                    }
                    &:nth-of-type(10) {
                        grid-row: 2/3;
                        grid-column: 5/6;
                    }
                    &:nth-of-type(12) {
                        grid-row: 2/3;
                        grid-column: 6/7;
                    }
                }
            }
        }

        &.page-article {
            .user-css-vignette {
                blockquote {
                    &::after {
                        width: 35%;
                    }
                }
            }
        }
    }
}
