.user-css {
    .custom-sidebar-wrapper {
        background: var(--c-cyan-dark);
        position: fixed;
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        filter: drop-shadow(1px 1px 0 var(--c-cyan-dark)) drop-shadow(-1px -1px 0 var(--c-cyan-dark))
            drop-shadow(1px -1px 0 var(--c-cyan-dark)) drop-shadow(-1px 1px 0 var(--c-cyan-dark));
        padding: 2.5px 0;

        top: 220px;
        cursor: pointer;
        overflow: hidden;
        height: 62px;
        width: 60px;
        z-index: 1200;
        margin-right: 15px;

        small {
            display: none;
        }

        .fa-database {
            background: rgba(2, 2, 7, 0.7);
            clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
            display: block;
            margin: 0 3px !important;
            padding: 12px 0px;
            text-align: center;
            transition: 200ms all ease;

            i {
                transition: all 400ms ease;
                display: inline-block;
            }

            &:hover,
            &:focus {
                background: var(--c-cyan);
                color: var(--c-dark);
                border: var(--c-cyan);
            }

            &:active {
                filter: brightness(120%);
            }
        }

        .custom-sidebar-inner {
            opacity: 0;
        }

        &:hover,
        &:focus,
        &:focus-within,
        &:active {
            clip-path: none;
            height: auto;
            width: auto;
            background: none;
            bottom: 0;
            padding: 0;

            .fa-database {
                display: none;
            }
            .custom-sidebar-inner {
                opacity: 1;
                transform: scaleX(1);
                border: 2px solid var(--c-cyan);

                width: fit-content;
                overflow-x: hidden;
                overflow-y: scroll;
                height: calc(100vh - 235px);

                .custom-sidebar {
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 0;
                    background: var(--c-cyan-dark);
                }

                &::-webkit-scrollbar-track {
                    border-radius: 0;
                    background: rgba(2, 2, 7, 0.9);
                }
                &:hover,
                &:active,
                &:focus {
                    scrollbar-color: var(--c-cyan) rgba(2, 2, 7, 0.9);

                    &::-webkit-scrollbar-thumb {
                        background: var(--c-cyan);
                    }
                }
            }
        }

        small {
            font-size: 10px;
            position: absolute;
            top: 113px;
            right: -21px;
            letter-spacing: 2px;
            text-transform: uppercase;
            transform: rotate(90deg);

            color: rgba(0, 0, 0, 0.6);
            font-weight: 800;
        }

        .custom-sidebar-inner {
            border: none;
            border-radius: 0;
            padding: 0;
            margin: 0;
            background: var(--c-dark);
        }

        .custom-sidebar {
            font-family: var(--f1);
            font-size: 14px;
            color: var(--c-light);
            padding: 10px;

            .vermiform {
                font-size: 11px;
                font-style: normal;
                font-weight: 300;
                font-family: var(--f2);

                em {
                    font-style: italic;
                }
            }

            a {
                color: var(--c-cyan);
                text-decoration: none;
                transition: all 100ms ease;

                &:hover,
                &:focus {
                    color: var(--c-gold-dim);
                }

                &:active {
                    color: var(--c-gold);
                }
            }

            ul {
                list-style: none;
                margin: 0;
                padding-left: 0;

                li {
                    margin-bottom: 8px;

                    &:nth-last-child(1) {
                        margin: 0;
                    }
                }
            }

            .table {
                background: none;
                margin-bottom: 0;

                tr {
                    background: none !important;
                }
                td,
                th {
                    background: none !important;
                    font-family: var(--f1);
                    font-size: 13px;
                    color: var(--c-light);
                    padding: 8px 0;
                    line-height: 1.4;
                    vertical-align: middle;
                    border-top: none;

                    a {
                        color: var(--c-cyan);
                        text-decoration: none;
                        transition: all 100ms ease;
                        border: none;
                        border-radius: 0;
                        white-space: nowrap;
                        font-size: 13px !important;

                        &:hover,
                        &:focus {
                            color: var(--c-gold-dim);
                        }

                        &:active {
                            color: var(--c-gold);
                        }
                    }

                    &:nth-child(1) {
                        font-family: var(--f2);
                        color: var(--c-gray-light);
                        font-size: 12.5px;
                        vertical-align: top;
                    }
                }

                th {
                    text-align: left;
                    font-weight: 900;
                    font-variant: small-caps;
                    letter-spacing: 1px;
                }
            }

            .starmap {
                .user-css-image-thumbnail {
                    padding: 0 !important;
                }
            }

            .user-css-image-thumbnail a {
                pointer-events: none;
            }
            em {
                font-size: 12.5px;
                font-style: normal;
            }

            &::after {
                content: url(.);
                height: 100%;
                width: 100%;
                display: block;
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                background: linear-gradient(90deg, var(--c-cyan-dark) 0%, var(--c-dark) 5%, var(--c-dark) 100%);
                z-index: 99;
                animation: sesame-right 2s 2s ease-out forwards 1;
            }
        }

        .sidebar-1,
        .motto {
            text-align: center;
        }

        .sidebar-1 {
            font-family: var(--f2);
            letter-spacing: 1px;
            text-transform: none;
            font-variant: small-caps;
            font-size: 28px;
            margin: 0;
            padding-top: 10px;
            line-height: 1.3;
            color: var(--c-cyan);
        }

        .sidebar-2 {
            letter-spacing: 1px;
            font-family: var(--f2);
            text-transform: uppercase;
            font-weight: 300;
            font-size: 12px !important;
            margin-bottom: 5px;
            font-style: initial;
            margin-top: 5px;
            color: var(--c-gray-light);
            padding-top: 0;
        }

        .motto {
            color: var(--c-light);
            font-family: var(--f1) !important;
            font-size: 14px;
            font-style: italic;
        }

        hr {
            border-top: 1px solid var(--c-cyan);
            margin: 12px 0;

            &:nth-of-type(1) {
                margin-top: 7px;
            }
        }

        .sidebar-symbol {
            display: flex;
            justify-content: space-between;
            font-family: var(--f6);
            font-size: 11px;
            line-height: 1;
            color: var(--c-light);
            text-align: center;

            .sidebar-flag,
            .sidebar-icon {
                .user-css-image-thumbnail {
                    height: 120px;
                    max-height: 120px;
                    padding: 0 !important;
                    margin-bottom: 8px !important;
                    display: flex;
                    align-items: center;

                    img {
                        max-height: 120px;
                    }
                }

                .artist-credits {
                    display: none;
                }
            }

            .sidebar-flag {
            }

            .sidebar-icon {
                .user-css-image-thumbnail {
                    background: var(--c-lightest) !important;
                    border: 2px solid var(--c-cyan) !important;
                    border-radius: 0 10px !important;
                    border-top-left-radius: 0px;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 0px;
                    border-bottom-left-radius: 10px;

                    img {
                        text-align: center;
                        display: block;
                        margin: auto;
                        padding: 5px;
                    }
                }
            }
        }

        .starmap,
        .starmap h3 {
            text-align: center;
        }

        .tagged-articles-list {
            padding: 0;
            margin-bottom: 8px;

            .article-list-item {
                margin: 8px 0;
                padding: 2px 0 2px 2px;

                &:nth-of-type(1) {
                    padding: 0 0 2px 2px;
                    margin-top: 0 !important;
                }

                &:last-of-type {
                    padding: 2px 0 0 2px;
                    margin-bottom: 0 !important;
                }
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}