.user-css, .user-css-extended, .user-css-presentation, .user-css-map-sidebar, .page, .map-context-user, .user-css-map, .tooltipster-content {
    --f1: Orbitron, Verdana;
    --f2: Electrolize, Verdana;
    --f3: Michroma, Verdana;
    --f4: Audiowide, Verdana;
    --f5: Raleway, Verdana;
    --f6: Roboto, georgia;
    --i: Icono;

    --c-gold: rgb(255, 179, 13);
    --c-gold-dark: rgb(88, 61, 3);
    --c-gold-dimmer: rgb(129, 91, 9);
    --c-gold-dim: rgb(187, 128, 0);
    --c-cyan: rgb(6, 123, 194);
    --c-cyan-dark: rgb(4, 98, 155);
    --c-cyan-darkest: rgb(4, 97, 154);    
    --c-light: rgb(185, 185, 185);
    --c-lightest: rgb(240, 240, 240);
    --c-dark: rgb(2, 2, 7);
    --c-gray-light: rgb(113, 124, 142);
}