.user-css-presentation .topnav .link-active-oecumene {
    li {
        background: rgba(255, 179, 13, 0.7);

        a {
            color: rgba(255, 179, 13, 0.7);
            pointer-events: none;
        }
    }
}