@import "_fonts.scss";
@import "_responsive.scss";
@import "_variables.scss";


.user-css-extended {
    display: none;
}

.user-css-presentation {
    background: url(https://www.worldanvil.com/uploads/images/3d9364baf000616c9c22021f30a7fdd7.jpg) fixed no-repeat;
    background-size: cover;
    background-color: #00000000;

    .world-global-header {
        // display: none;
        visibility: hidden;
    }

    .topnav {
        width: 1170px;
        margin: 15px auto;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 0;
        }

        li {
            clip-path: polygon(10% 0%, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);            
            background: var(--c-gray-light);
            padding: 10px 4px;
            transition: all 180ms ease-in-out;

            a {
                clip-path: polygon(10% 0%, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
                color: var(--c-light);
                background: var(--c-dark);
                transition: all 180ms ease-in-out;
                padding: 0.6em 1.5em;
                font-family: var(--f2);
            }

            &:hover, &:focus {
                background: var(--c-gold);

                a {
                    text-decoration: none;
                    color: var(--c-gold);
                }
            }

            &:active {
                filter: brightness(140%);

                a {
                    filter: brightness(120%);
                }
            }
        }


    }

    .worldmenu-inner h1 a, .table-of-contents h5 a {
        pointer-events: none;
    }

    .search-form {

        .typeahead-input {
            font-family: var(--f5);
            color: var(--c-lightest);
            background-color: var(--c-dark);
            border-radius: 0px;
            box-shadow: 3px 3px 5px #44444420;
            -moz-box-shadow: 3px 3px 5px #44444420;
            -webkit-box-shadow: 3px 3px 5px #44444420;
            border: 1px solid rgba(113, 124, 142, 0.5);
            outline: 1px solid rgba(113, 124, 142, 0.5);
            transition: all 250ms cubic-bezier(.25,.8,.25,1);

            &:hover, &:focus, &:active {
                outline: 1px solid var(--c-cyan) !important;
                border: var(--c-cyan);
                box-shadow: 0 10px 20px rgba(6, 123, 194, 0.19), 0 6px 6px rgba(6, 123, 194, 0.22);
            }
        }
    }
    
    .backtotop-button, .world-navigation-palette-trigger {
        background: rgba(2, 2, 7, 0.9);
        box-shadow: 10px 10px 20px 4px rgba(19, 25, 37, 0.8), -10px -10px 20px 4px rgba(19, 25, 37, 0.8); 
        border: 1px solid var(--c-gold-dimmer);
        transition: all 180ms ease;       

        &:hover, &:focus {
            background: var(--c-gold);
            color: var(--c-dark);
            border: var(--c-gold);
        }

        &:active {
            filter: brightness(120%);
        }
    }

    .world-navigation-palette-trigger {
        margin-top: -4em;
        margin-left: -1px;
        z-index: 50;
    }

    #world-navigation-sidebar {
        background: rgba(2, 2, 7, 0.95);
        box-shadow: 10px 10px 20px 4px rgba(19, 25, 37, 0.8), -10px -10px 20px 4px rgba(19, 25, 37, 0.8); 
        border: 1px solid var(--c-gold-dimmer);  
        width: 35%;
        min-width: 350px;
        max-width: 500px;
        scrollbar-color: var(--c-cyan-dark) rgba(2, 2, 7, 0.9);
        box-shadow: 5px 13px 20px rgba(0,0,0,.6);
        font-family: var(--f2) !important;

        h2 {
            margin-top: 0;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 0;
            background: var(--c-cyan-dark);
        }

        &::-webkit-scrollbar-track {
            border-radius: 0;
            background: rgba(2, 2, 7, 0.9);
        }

        &:hover, &:active, &:focus {
            scrollbar-color: var(--c-cyan) rgba(2, 2, 7, 0.9);

            &::-webkit-scrollbar-thumb {
                background: var(--c-cyan);
            }
        }

        .articletoc {
            width: 100%;
            border: none;
            padding: 0 0 0.8em 0;

        }

        .article-link {
            display: block;
            text-decoration: none;
        }

        .article-toc-link, .article-link {
            padding: 3px 1.7em;
            margin-bottom: 6px;
            cursor: pointer;
            transition: 35ms 75ms all ease-out;
            border: 1px solid transparent;
            border-radius: 0;
            color: var(--c-gold-dim);
            position: relative;
            font-weight: 700;
    
            &.article-toc-indent-1, &.article-toc-indent-2, &.article-toc-indent-3 {
                font-weight: 300;

                &::after {
                    content:url(.);
                    display: block;
                    position: absolute;
                    left: 1.9em;
                    width: 0.65em;
                    height: 0.55em;
                    background: var(--c-gold-dim);
                    top: 45%;
                    transform: translateY(-50%) rotate(-90deg);
                    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                }
            }

            &.article-toc-indent-1 {
                padding-left: 3em;
            }

            &.article-toc-indent-2 {
                padding-left: 4em;
                &::after {
                    left: 2.9em;
                }
            }
            &.article-toc-indent-3 {
                padding-left: 5em;
                &::after {
                    left: 3.9em;
                }

            }

            &::before {
                content: url(.);
                height: 100%;
                width: 0;
                transition: width 30ms;
                background: var(--c-gold);
                border-radius: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
            }

            &:hover, &:focus {
                color: var(--c-gold);
                border-color: var(--c-gold);
                background: rgba(113, 124, 142, 0.1);

                &::before {
                    width: 12px;
                }
            }

            &:active {
                filter: brightness(125%);
            }
        }
    }
    
    .page-article-main {
        background: rgba(2, 2, 7, 0.9);
        box-shadow: 10px 10px 20px 4px rgba(19, 25, 37, 0.8), -10px -10px 20px 4px rgba(19, 25, 37, 0.8); 
        border: 1px solid var(--c-gold-dimmer);
    }

    //** TOOLTIP POPUP **//

    .tooltipster-sidetip.tooltipster-light {
        color: var(--c-light);
    
        a {
            color: var(--c-cyan);
            text-decoration: none;
            transition: all 100ms ease;
            border: none;
            // border-radius: 0;
            white-space: nowrap;
    
            &:hover, &:focus {
                color: var(--c-gold-dim);
            }
    
            &:active {
                color: var(--c-gold);
            }
        }
    
        .tooltipster-box {
            border-radius: 0;
            border: none;
            background: rgba(2, 2, 7, 0.95);
            box-shadow: 10px 10px 20px 4px rgba(19, 25, 37, 0.8), -10px -10px 20px 4px rgba(19, 25, 37, 0.8); 
    
            .tooltipster-content {
                font-family: var(--f6);
                font-size: 16px;
                line-height: 1.5;
            
                p {
                    font-family: var(--f6);
                    font-size: 16px;
                    line-height: 1.5;
                }
            
                h2 {
                    font-family: var(--f2);
                    color: var(--c-gold-dim);
                    letter-spacing: 1px;
                    text-transform: none;
                    font-variant: small-caps;
                    border-bottom: 1px solid rgba(88, 61, 3, 0.7);
                    padding-top: 0;
                    margin-top: 10px;
                    text-align: center;
                }
            
                h3 {
                    font-family: var(--f4);
                    color: var(--c-gold-dim);
                    letter-spacing: 1px;
                    font-size: 24px;
                }
            
                h4 {
                    font-family: var(--f3);
                    color: var(--c-gold-dark);
                    letter-spacing: 1px;
                    font-size: 18px;
                }
    
                .article-subheading, .articletablecontents {
                    display: none;
                }
            }

            .text-center {
                border-top: 1px solid rgba(88, 61, 3, 0.7);
                padding: 15px 0 0 0;
            }
    
            .btn-sm.article-link.article-explorer-link {
                display: inline-block;
                color: var(--c-cyan-dark);
                transition: all 150ms ease;
                padding: 0;
                position: relative;
                text-transform: uppercase;


                &::after {
                    content: url(.);
                    position: absolute;
                    display: block;
                    height: 2px;
                    width: 0;
                    transition: width 180ms ease;
                    transform-origin: left;
                    bottom: -3.5px;
                    left: 0px;
                    background: var(--c-gold-dim);
                }
    
                &:hover, &:focus {
                    color: var(--c-gold-dim);
    
                    &::after {
                        width: 100%;
                    }
                }
    
                &:active {
                    color: var(--c-gold);
    
                    &::after {
                        background: var(--c-gold);
                    }
                }
            }
    
        }
    
        .tooltipster-arrow {
            display: none;
        }
        
    
    } 

    //** ARTICLE TOC **//
    .article-table-of-contents {
        background: rgba(2, 2, 7, 0.9);
        box-shadow: -24px 10px 20px 4px rgba(19, 25, 37, 0.8), -24px -10px 20px 4px rgba(19, 25, 37, 0.8); 
        border-top: 1px solid var(--c-gold-dimmer);
        border-bottom: 1px solid var(--c-gold-dimmer);
        position: absolute;
        left: 0;
        top: 134px;
        bottom: 689px;
        width: 22em !important;
        margin-right: 0;
        padding-right: 0;
        font-family: var(--f2) !important;
        z-index: 0;
        display: block;

        .article-table-of-contents-inner {
            height: 100%;
            position: relative;
            padding-bottom: 24px;
        }

        .toc-with-overview {
            position: sticky;
            top: 1em;
            bottom: 1em;
            overflow-y: scroll;
            max-height: 100vh;
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
                
            &::-webkit-scrollbar { /* WebKit */
            width: 0;
            height: 0;
            }  
        }

        h3 {
            padding: 1em 28px 0 28px;
            margin-bottom: 12px;
        }

        .articletoc {
            width: 100%;
            border: none;
            padding: 0 0 0.8em 0;

            .article-toc-link {
                padding: 3px 1.7em;
                margin-bottom: 6px;
                cursor: pointer;
                transition: 35ms 75ms all ease-out;
                border-right: 1px solid transparent;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
                border-radius: 0;
                color: var(--c-gold-dim);
                position: relative;
                // font-weight: 700;

                &.article-toc-indent-1, &.article-toc-indent-2, &.article-toc-indent-3 {
                    // font-weight: 300;

                    &::after {
                        content:url(.);
                        display: block;
                        position: absolute;
                        left: 1.9em;
                        width: 0.65em;
                        height: 0.55em;
                        background: var(--c-gold-dim);
                        top: 45%;
                        transform: translateY(-50%) rotate(-90deg);
                        transition: 500ms ease;
                        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                    }
                }

                &.article-toc-indent-1 {
                    padding-left: 3em;
                }

                &.article-toc-indent-2 {
                    padding-left: 4em;
                    &::after {
                        left: 2.9em;
                    }
                }
                &.article-toc-indent-3 {
                    padding-left: 5em;
                    &::after {
                        left: 3.9em;
                    }

                }


    
                &::before {
                    content: url(.);
                    height: 100%;
                    width: 0;
                    transition: width 30ms;
                    background: var(--c-gold);
                    border-radius: 0;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    transform-origin: left;
                }
    
                &:hover, &:focus {
                    color: var(--c-gold);
                    border-color: var(--c-gold);
                    background: rgba(113, 124, 142, 0.1);
    
                    &::before {
                        width: 12px;
                    }

                    &::after {
                        transform: translateY(-50%) rotate(90deg);
                    }
                }
    
                &:active {
                    filter: brightness(125%);
                }
            }
        }

        a {
            text-decoration: none;
            color: var(--c-gold-dim);

            &:hover, &:focus {

                color: var(--c-gold);
            }

            &:active {
                filter: brightness(125%);
            }
        } 
        
        .overview-link {
            padding: 3px 1.7em;
            margin-bottom: 6px;
            cursor: pointer;
            transition: 35ms 75ms all ease-out;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            border-radius: 0;
            position: relative;
            // font-weight: 700;
            text-decoration: none;

            &::before {
                content: url(.);
                height: 100%;
                width: 0;
                transition: width 30ms;
                background: var(--c-gold);
                border-radius: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                transform-origin: left;
            }

            &:hover, &:focus {

                color: var(--c-gold);
                border-color: var(--c-gold);
                background: rgba(113, 124, 142, 0.1);

                &::before {
                    width: 12px;
                }
            }
        }

    }    
}

.user-css-vignette, .article-horizontal-navigation {
    font-family: var(--f6);
    font-size: 16px;
    color: var(--c-light);

    a {
        color: var(--c-cyan);
        text-decoration: none;
        transition: all 100ms ease;
        border: none;
        border-radius: 0;
        white-space: nowrap;

        &:hover, &:focus {
            color: var(--c-gold-dim);
        }

        &:active {
            color: var(--c-gold);
        }
    }
}

.user-css-vignette {

    .main-article-link {
        display: block;
        margin-left: 2em;
        font-style: italic;
        font-size: 13px;
        margin-bottom: 10px;

        a {
            color: var(--c-cyan);
            text-decoration: none;
            transition: all 100ms ease;
            border: none;
            border-radius: 0;
            white-space: nowrap;
    
            &:hover, &:focus {
                color: var(--c-gold-dim);
            }
    
            &:active {
                color: var(--c-gold);
            }
        }
    }

    h2 {
        padding-top: 5px;

        &:nth-child(1) {
            padding-top: 0;
        }
    }

    h3 {
        padding-top: 20px;
    }

    h4 {
        padding: 15px 0 6px 0;
    }
}

.user-css {

    &.page-world-homepage, &.page-image {
        background-image: none;
        background: rgba(2, 2, 7, 0.9);
        box-shadow: 10px 10px 20px 4px rgba(19, 25, 37, 0.8), -10px -10px 20px 4px rgba(19, 25, 37, 0.8); 
        border: 1px solid var(--c-gold-dimmer);
        position: relative;

        .world-owners {
            font-family: var(--f6);
            font-size: 16px;
            line-height: 1.5;
            color: var(--c-light);

            a {
                color: var(--c-cyan);
                text-decoration: none;
                transition: all 100ms ease;
                border: none;
                border-radius: 0;
                white-space: nowrap;
        
                &:hover, &:focus {
                    color: var(--c-gold-dim);
                }
        
                &:active {
                    color: var(--c-gold);
                }
            }
        }
    
        .world-subtitle small {
            font-variant: small-caps;
            letter-spacing: 1px;
            color: var(--c-gold-dark);
            font-weight: 600;
            font-size: 16px;

        }

        .bottomnotch, .topnotch {
            position: absolute;
            background: var(--c-gold-dimmer);
            height: 25px;
            width: 145px;
            display: block;
        }

        .copyright-attribution {
            &::before, &::after {
                display: none;
            }
        }

        .bottomnotch {
            clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0 100%);
            bottom: -1px;
            right: -1px;
        }

        .topnotch {
            clip-path: polygon(0 0, 100% 0%, 75% 100%, 0 100%);
            top: 0;
            left: -202px;
        }

        .article-table-of-contents {
            display: none !important;
        }
    }

    &.page-world-homepage {
        .article-panel {

            .heading {
                display: flex;
                height: 52px;
                justify-content: center;
                align-items: center;
            }
            .excerpt {
                display: none;
            }
        }


    }

    &.page-image {
        background: var(--c-lightest);
        border: 1px solid var(--c-cyan);

        h1, h2, h3, h4, p {
            color: var(--c-dark);
        }
        
        a {
            color: var(--c-cyan);
        }

        .nav-strip {
            padding: 10px;
            background-color: var(--c-cyan);
            font-family: var(--f3);
            font-size: 14px;
            font-weight: 400;
            z-index: 2;
            
            a {
                color: var(--c-lightest);
            }
        }

        .cover {
            border-bottom: var(--c-cyan);
        }
    }

    .destroyer {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--c-dark);
        z-index: 0;
    }

    /** FONTS **/

    .article-content, p {
        font-family: var(--f6);
        font-size: 16px;
        line-height: 1.5;

        strong, b {
            font-weight: 900;
        }
    }

    .article-title h1 {
        font-weight: 500;
    }

    h1 {
        font-family: var(--f1);
        color: var(--c-gold);
        font-variant: small-caps;
    }

    h2 {
        font-family: var(--f2);
        color: var(--c-gold-dim);
        text-stroke: 2px var(--c-gold-dim);
        letter-spacing: 1px;
        // text-shadow: 2px 3px 2px var(--c-dark),-1px -1px 0 var(--c-cyan-dark);
        text-transform: none;
        font-variant: small-caps;
        border-bottom: 1px solid rgba(88, 61, 3, 0.7);
    }

    h3 {
        font-family: var(--f4);
        color: var(--c-gold-dim);
        text-stroke: 2px var(--c-gold-dark);
        letter-spacing: 1px;
        // text-shadow: 2px 3px 2px var(--c-dark),-1px -1px 0 var(--c-cyan-dark);
        font-size: 24px;
        margin-bottom: 6px;
    }

    h4 {
        font-family: var(--f3);
        color: var(--c-gold-dark);
        text-stroke: 2px var(--c-gold-dark);
        letter-spacing: 1px;
        // text-shadow: 2px 3px 2px var(--c-dark),-1px -1px 0 var(--c-cyan-dark);
        font-size: 18px;
    }

    h5 {
        font-family: var(--f5);
        color: var(--c-gold-dark);
        text-stroke: 2px var(--c-gold-dark);
        letter-spacing: 1px;
        // text-shadow: 2px 3px 2px var(--c-dark),-1px -1px 0 var(--c-cyan-dark);
    }

    hr {
        border-top: 1px solid rgba(88, 61, 3, 0.7);
        // margin: 0.5em 0;
    }

    //** LAYOUT **//

    .world-content, .breadcrumb-world-link-wrapper, .article-title-icon, .backtoworld, .breadcrumb-contents-loader {
        display: none;
    }

    .cover {
        border-bottom: 1px solid var(--c-gold-dimmer)
    }

    .backlink {
        position: absolute;
        clip-path: polygon(0 0, 100% 0%, 75% 100%, 0 100%);
        height: 25px;
        width: 145px;
        top: 0;
        left: -10px;
        display: block;
        z-index: 20;

        a {
            background:var(--c-gold-dimmer);
            display: block;
            transition: all 200ms ease-in-out;
            text-decoration: none;
            padding: 5px 10px;

            h2 {
                color:rgba(88, 61, 3, 0.05);
                font-size: 12px;
                margin: 0;
                padding: 0;
                white-space: nowrap;
                border: none;
            }

            &:hover, &:focus {
                background: rgba(255, 179, 13, 0.9);

                h2 {
                    color:var(--c-gold-dark);
                }
            }
        }



    }

    .world-global-article-introduction {
        &::before {
            content: url(.);
            clip-path: polygon(60% 0%, 100% 0.00%, 40% 100%, 0% 100%);
            top: 0;
            left: 115px;
            display: block;
            height: 25px;
            width: 60px;
            position: absolute;
            background: var(--c-gold-dimmer)
        }

        &::after {
            content: url(.);
            clip-path: polygon(60% 0%, 100% 0.00%, 40% 100%, 0% 100%);
            top: 0;
            left: 155px;
            display: block;
            height: 25px;
            width: 60px;
            position: absolute;
            background:var(--c-gold-dimmer)
        }
    }

    .bottomnotch {
        position: absolute;
        clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0 100%);
        background: var(--c-gold-dimmer);
        height: 25px;
        width: 145px;
        bottom: -85px;
        right: -10px;
        display: block;
    }

    .copyright-attribution {
        font-size: .7em;
        text-align: center;
        font-family: var(--f6);
        color: var(--c-light);

        &::before {
            content: url(.);
            clip-path: polygon(60% 0%, 100% 0.00%, 40% 100%, 0% 100%);
            bottom: -85px;
            right: 115px;
            display: block;
            height: 25px;
            width: 60px;
            position: absolute;
            background: var(--c-gold-dimmer)
        }

        &::after {
            content: url(.);
            clip-path: polygon(60% 0%, 100% 0.00%, 40% 100%, 0% 100%);
            bottom: -85px;
            right: 155px;
            display: block;
            height: 25px;
            width: 60px;
            position: absolute;
            background:var(--c-gold-dimmer)
        }
    }

    .article-content-left {
        width: auto !important;
    }

    .article-horizontal-navigation {
        h3, .glossary-block {
            display: none;
        }

        hr {
            display: none;

            &:nth-last-of-type(1) {
                display: block;
            }
        }
    }

    .artist-credits {
        font-family: var(--f6);
        color: var(--c-light);
    
        a {
            color: var(--c-cyan);
            text-decoration: none;
            transition: all 100ms ease;
            border: none;
            border-radius: 0;
            white-space: nowrap;
    
            &:hover, &:focus {
                color: var(--c-gold-dim);
            }
    
            &:active {
                color: var(--c-gold);
            }
        }
    }

    //** BREADCRUMBS AND SUBTITLES **//

    .breadcrumb, .article-subheading, .nav-linear {
        font-family: var(--f3) !important;
        font-size: 13px;
    }

    .article-subheading {
        color: var(--c-gold-dimmer);
        font-variant: small-caps;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .breadcrumb {
        padding: 0 5px;
        // margin-bottom: 20px;
        margin-bottom: 0px;
        list-style: none;
        background-color: none;
        border-radius: 0;
        position: relative;
        background: none;

        .breadcrumb-article-link, .world-category-breadcrumb-link {
            margin-right: 8px;
            margin-left: -10px;
            color: var(--c-cyan-dark);
            text-decoration: none;
            transition: all 180ms ease;
            padding: 0px 4px;
            // border: 1px solid transparent;
            // border-radius: 4px;
            position: relative;

            &::after {
                content: url(.);
                position: absolute;
                display: block;
                height: 2px;
                width: 0;
                transition: width 180ms ease;
                transform-origin: left;
                bottom: -3.5px;
                left: 4px;
                background: var(--c-gold-dim);
            }

            &:hover, &:focus {
                color: var(--c-gold-dim);
                // border-color: var(--c-cyan);

                &::after {
                    width: calc(100% - 8px);
                }
            }

            &:active {
                color: var(--c-gold);

                &::after {
                    background: var(--c-gold);
                }
            }

        }

        .breadcrumb-article-wrapper {
            position: relative;
        }

        .breadcrumb-article-current {
            margin-left: -5px;
            color: var(--c-cyan);
            font-weight: 700;
            // text-transform: uppercase;
            letter-spacing: 1px;
        }

        i.fa-ellipsis-h {
            margin-left: -16px;
            visibility: hidden;
        }

        i.fa-chevron-right{
            margin-right: 18px;
            margin-left: -10px;

            &::before {
                content: url(https://www.worldanvil.com/uploads/images/f58272769172069703427b677a19a9e5.svg) !important;
                width: 10px;
                display: block;
                position: absolute;
                top: 3px;
            }
        }
    }

    .article-subheading {
        padding-left: 0;
    }

    //** BLOCKS, IMAGES AND BYLINES **//

    .image-block {
        text-align: center;
    }

    .article-panel {
        background: none;
        filter: drop-shadow(1px 1px 0 var(--c-cyan)) drop-shadow(-1px -1px 0 var(--c-cyan)) drop-shadow(1px -1px 0 var(--c-cyan)) drop-shadow(-1px 1px 0 var(--c-cyan));
        border-radius: 0;
        max-width: 599px;
        margin: 0;
        padding: 0;
        transition: all 500ms ease;

        .cover {
            background-position: right top;
            background-repeat: no-repeat;
            background-size: auto 150px;
            border-bottom: 1px solid var(--c-cyan-dark);
            transition: all 500ms ease;
        }

        a {
            background: rgba(2, 2, 7, 0.9);
            transition: all 200ms ease-in-out;
            border: none;
            clip-path: polygon(10px 0%, 100% 0, 100% calc(100% - 20px), 95% 100%, 0 100%, 0 10%);
            display: block;
            padding: 10px; 
            border-radius: 0;
            transition: all 500ms ease;

            &:hover, &:focus, &:active {
                padding: 10px; 
                border: none;
            }

            &:hover, &:focus {
                // transform: scale(1.05);
                // box-shadow: 10px 10px 20px 4px rgba(19, 25, 37, 0.8), -10px -10px 20px 4px rgba(19, 25, 37, 0.8); 
            }
        }
        
        .details {
            transition: all 500ms ease;

            h5 {
                font-family: var(--f4);
                color: var(--c-cyan);
            }
            .excerpt {
                font-family: var(--f5);
                color: var(--c-light);
                font-size: .9em;
                text-align: center;
            }

            .subheading {
                display: none; 
            }
        }

        &:hover, &:focus {
            filter: drop-shadow(1px 1px 0 var(--c-gold)) drop-shadow(-1px -1px 0 var(--c-gold)) drop-shadow(1px -1px 0 var(--c-gold)) drop-shadow(-1px 1px 0 var(--c-gold));

            .cover {
                border-bottom: 1px solid var(--c-gold);
            }

            .details {
                h5 {
                    color: var(--c-gold);
                }
            }
        }
    }

    //** FLEXBOXES AND GRIDS **//

    .flexor {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        gap: 1em;

        &.equal-flex {
            grid-auto-columns: minmax(0, 1fr);
        }

        &.left-third {
            grid-template-columns: 2fr 5fr;
        }

        .article-panel {
            padding: 0;
        }
    }

    //** SIDEBAR **//

    .infobox {
        background: none;
        filter: drop-shadow(1px 1px 0 var(--c-gold-dark)) drop-shadow(-1px -1px 0 var(--c-gold-dark)) drop-shadow(1px -1px 0 var(--c-gold-dark)) drop-shadow(-1px 1px 0 var(--c-gold-dark));
        border-radius: 0;
        margin: 0;
        padding: 0;

        .flexor {
            background: var(--c-dark);
            transition: all 200ms ease-in-out;
            clip-path: polygon(15px 0%, 100% 0, 100% calc(100% - 20px), calc(100% - 15px) 100%, 0 100%, 0 10%);
            border-radius: 0;
            align-items: initial;  
            border: none;

            &.left-third {
                grid-template-columns: 200px auto;
            }
    
            .user-css-image-thumbnail {
                pointer-events: none;
                align-self: center;
                padding: 8px;
            }

            &.sagad .user-css-image-thumbnail {
                padding: 0;
            }     
        }

        .infobox-text {
            padding: 15px 10px 20px 0;

            h4 {
                padding-top: 0;
                padding-bottom: 15px;
                color: var(--c-gold-dark);
            }

            em {
                display: block;
                padding-top: 10px;
                color: var(--c-gray-light);

                a {
                    display: inline-block;
                    color: var(--c-cyan-dark);
                    border-radius: 10px 0;
                    transition: all 150ms ease;
                    padding-left: 0px;
                    position: relative;
        
                    &::after {
                        content: url(.);
                        position: absolute;
                        display: block;
                        height: 2px;
                        width: 0;
                        transition: width 180ms ease;
                        transform-origin: left;
                        bottom: -3.5px;
                        left: 0px;
                        background: var(--c-gold-dim);
                    }
        
                    &:hover, &:focus {
                        color: var(--c-gold-dim);
                        // border-color: var(--c-cyan);
        
                        &::after {
                            width: 100%;
                        }
                    }
        
                    &:active {
                        color: var(--c-gold);
        
                        &::after {
                            background: var(--c-gold);
                        }
                    }
                }


            }

        }
    }    

    .overview-text {
        width: calc(100% - 375px)
    }

    .custom-sidebar-wrapper{
        padding: 1px;
        width: 360px;
        background: var(--c-cyan-dark);
        // clip-path: polygon(96% 0px, 100% 0.6%, 100% 97%, 96% 97.6%, 96% 99.4%, 92% 100.00%, 4% 100%, 0px 99.4%, 0% 1.2%, 4% 0.6%, 24% 0.6%, 28% 0%);
        clip-path: polygon(96% 0px, 100% 10px, 100% calc(100% - 56px), 96% calc(100% - 46px), 96% calc(100% - 10px), 92% 100%, 4% 100%, 0px calc(100% - 10px), 0% 20px, 4% 10px, 24% 10px, 28% 0%);
        position: relative;
        float: right;
        margin-top: -125px;
        margin-left: 15px;

        .custom-sidebar-inner {
            border: none;
            border-radius: 0;
            padding: 5px 0;
            margin: 0;
            background: var(--c-dark);
            // clip-path: polygon(96% 0px, 100% 0.6%, 100% 95%, 96% 95.6%, 96.00% 99.4%, 92% 100%, 4% 100%, 0px 99.4%, 0% 1.2%, 4% 0.6%, 32% 0.6%, 36% 0%);
            clip-path: polygon(96% 0px, 100% 10px, 100% calc(100% - 99.45px), 96% calc(100% - 89.45px), 96.00% calc(100% - 10px), 92% 100%, 4% 100%, 0px calc(100% - 10px), 0% 20px, 4% 10px, 32% 10px, 36% 0%);
        }

        .custom-sidebar {
            font-family: var(--f1);
            font-size: 14px;
            color: var(--c-light);
            padding: 0 10px 1em 10px;
            clip-path: polygon(96% 0px, 100% 10px, 100% calc(100% - 99.45px), 96% calc(100% - 89.45px), 96.00% calc(100% - 10px), 92% 100%, 4% 100%, 0px calc(100% - 10px), 0% 20px, 4% 10px, 32% 10px, 36% 0%);

            em {
                font-size: 12.5px;
                font-style: normal;
            }

            .vermiform {
                font-size: 11px;
                font-style: normal;
                font-weight: 300;
                font-family: var(--f2);

                em {
                    font-style: italic;
                }
            }
        
            a {
                color: var(--c-cyan);
                text-decoration: none;
                transition: all 100ms ease;
        
                &:hover, &:focus {
                    color: var(--c-gold-dim);
                }
        
                &:active {
                    color: var(--c-gold);
                }
            }

            ul {
                list-style: none;
                margin: 0;
                padding-left: 0;

                li {
                    margin-bottom: 8px;

                    &:nth-last-child(1) {
                        margin: 0;
                    }
                }
            }

            .table {
                background: none;
                margin-bottom: 0;
    
                tr {
                    background: none !important;
                }
                td, th {
                    background: none !important;
                    font-family: var(--f1);
                    font-size: 13px;
                    color: var(--c-light);
                    padding: 8px 0;
                    line-height: 1.4;
                    vertical-align: middle;
                    border-top: none;
                
                    a {
                        color: var(--c-cyan);
                        text-decoration: none;
                        transition: all 100ms ease;
                        border: none;
                        border-radius: 0;
                        white-space: nowrap;
                        font-size: 13px !important;
                
                        &:hover, &:focus {
                            color: var(--c-gold-dim);
                        }
                
                        &:active {
                            color: var(--c-gold);
                        }
                    }
    
                    &:nth-child(1) {
                        font-family: var(--f2);
                        color: var(--c-gray-light);
                        font-size: 12.5px;
                        vertical-align: top;
                    }
                }

                th {
                    text-align: left;
                    font-weight: 900;
                    font-variant: small-caps;
                    letter-spacing: 1px;
                }

            }

            .starmap {
                .user-css-image-thumbnail {
                    padding: 0 !important;
                }
            }

            .user-css-image-thumbnail a {
                pointer-events: none;
            }

            small {
                font-size: 10px;
                position: absolute;
                top: 2px;
                right: 18px;
                letter-spacing: 2px;
                text-transform: uppercase;
                padding: 0 65px;
                display: block;
            }
        }

        .sidebar-1, .motto {
            text-align: center;
        }

        .sidebar-1 {
            font-family: var(--f2);
            letter-spacing: 1px;
            text-transform: none;
            font-variant: small-caps;
            font-size: 28px;
            margin: 0;
            padding-top: 20px;
            line-height: 1.3;
            color: var(--c-cyan);
        }

        .sidebar-2 {
            letter-spacing: 1px;
            font-family: var(--f2);
            text-transform: uppercase;
            font-weight: 300;
            font-size: 12px !important;
            margin-bottom: 5px;
            font-style: initial;
            margin-top: 5px;
            color: var(--c-gray-light);
            padding-top: 0;
        }
    
        .motto {
            color: var(--c-light);
            font-family: var(--f1) !important;
            font-size: 14px;
            font-style: italic;
        }

        hr {
            border-top: 1px solid var(--c-cyan);
            margin: 12px 0;

            &:nth-of-type(1) {
                margin-top: 7px; 
            }
        }

        .sidebar-symbol {
            display: flex;
            justify-content: space-between;
            font-family: var(--f6);
            font-size: 11px;
            line-height: 1;
            color: var(--c-light);
            text-align: center;

            .sidebar-flag, .sidebar-icon {
                .user-css-image-thumbnail {
                    height: 120px;
                    max-height: 120px;
                    padding: 0 !important;
                    margin-bottom: 8px !important;
                    display: flex;
                    align-items: center;

                    img {
                        max-height: 120px;
                    }
                }

                .artist-credits {
                    display: none;
                }
            }

            .sidebar-flag {

            }

            .sidebar-icon {
                .user-css-image-thumbnail {
                    background: var(--c-lightest) !important;
                    border: 2px solid var(--c-cyan) !important;
                    border-radius: 0 10px !important;
                    border-top-left-radius: 0px;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 0px;
                    border-bottom-left-radius: 10px;

                    img {
                        text-align: center;
                        display: block;
                        margin: auto;
                        padding: 5px;
                        
                    }
                }
            }
        }

        .starmap, .starmap h3 {
            text-align: center;
        }

        .tagged-articles-list {
            padding: 0 !important;

            .article-list-item {
                margin: 5px 0 !important;

                &:nth-of-type(1) {
                    margin-top: 0 !important;
                }

                &:last-of-type {
                    margin-bottom: 0 !important;
                }

            }

        }
    }

    &.tag-top {
        .breadcrumb {
            display: none;
        }

        .custom-sidebar-wrapper {
            margin-top: -148px;
        }
    }
}






