@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/raleway/v12/0dTEPzkLWceF7z0koJaX1A.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
@font-face {
    font-family: Orbitron;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/orbitron/v19/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWgz.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: Michroma;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/michroma/v11/PN_zRfy9qWD8fEagAPg9pTk.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: Electrolize;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/electrolize/v9/cIf5Ma1dtE0zSiGSiED7AXEBuI8.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: Audiowide;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/audiowide/v9/l7gdbjpo0cum0ckerWCdlg_O.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc6CsQ.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xIIzI.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TLBCc6CsQ.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfBBc4.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media only screen and (max-width: 1199px) {
    .user-css-presentation .topnav {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .user-css-presentation .world-navigation-palette-trigger {
        display: none;
    }
}

.user-css, .user-css-extended, .user-css-presentation, .user-css-map-sidebar, .page, .map-context-user, .user-css-map, .tooltipster-content {
    --f1: Orbitron;
    --f2: Electrolize;
    --f3: Michroma;
    --f4: Audiowide;
    --f5: Raleway;
    --f6: Roboto, georgia;
    --c-gold: rgb(255, 179, 13);
    --c-cyan: rgb(6, 123, 194);
    --c-gold-dark: rgb(88, 61, 3);
    --c-gold-dimmer: rgb(129, 91, 9);
    --c-gold-dim: rgb(187, 128, 0);
    --c-cyan-dark: rgb(4, 98, 155);
    --c-light: rgb(185, 185, 185);
    --c-lightest: rgb(240, 240, 240);
    --c-dark: rgb(2, 2, 7);
    --c-gray-light: rgb(113, 124, 142);

    a.world-editor-link {
        border: none !important;
        background: none !important;
        // display: none;

        &:hover, &:focus, &:active {
            border: none !important;
            background: none !important;
        }
    }
}

.user-css-extended {
    display: none;
}

.user-css-presentation {
    background: url(https://www.worldanvil.com/uploads/images/3d9364baf000616c9c22021f30a7fdd7.jpg) fixed no-repeat;
    background-size: cover;
    background-color: #00000000;

    .topnav {
        width: 1170px;
        margin: 15px auto;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 0;
        }

        li {
            clip-path: polygon(10% 0%, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);            
            background: var(--c-gray-light);
            padding: 10px 4px;
            transition: all 180ms ease-in-out;

            a {
                clip-path: polygon(10% 0%, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
                color: var(--c-light);
                background: var(--c-dark);
                transition: all 180ms ease-in-out;
                padding: 0.6em 1.5em;
                font-family: var(--f2);
            }

            &:hover, &:focus {
                background: var(--c-gold);

                a {
                    text-decoration: none;
                    color: var(--c-gold);
                }
            }

            &:active {
                filter: brightness(140%);

                a {
                    filter: brightness(120%);
                }
            }
        }


    }

    .worldmenu-inner h1 a, .table-of-contents h5 a {
        pointer-events: none;
    }

    .search-form {

        .typeahead-input {
            font-family: var(--f5);
            color: var(--c-lightest);
            background-color: var(--c-dark);
            border-radius: 0px;
            box-shadow: 3px 3px 5px #44444420;
            -moz-box-shadow: 3px 3px 5px #44444420;
            -webkit-box-shadow: 3px 3px 5px #44444420;
            border: 1px solid rgba(113, 124, 142, 0.5);
            outline: 1px solid rgba(113, 124, 142, 0.5);
            transition: all 250ms cubic-bezier(.25,.8,.25,1);

            &:hover, &:focus, &:active {
                outline: 1px solid var(--c-cyan) !important;
                border: var(--c-cyan);
                box-shadow: 0 10px 20px rgba(6, 123, 194, 0.19), 0 6px 6px rgba(6, 123, 194, 0.22);
            }
        }
    }
    
    .backtotop-button {
        background: rgba(2, 2, 7, 0.9);
        box-shadow: 10px 10px 20px 4px rgba(19, 25, 37, 0.8), -10px -10px 20px 4px rgba(19, 25, 37, 0.8); 
        border: 1px solid var(--c-gold-dimmer);
        transition: all 180ms ease;       

        &:hover, &:focus {
            background: var(--c-gold);
            color: var(--c-dark);
            border: var(--c-gold);
        }

        &:active {
            filter: brightness(120%);
        }
    }
    
    .page-article-main {
        background: rgba(2, 2, 7, 0.9);
        box-shadow: 10px 10px 20px 4px rgba(19, 25, 37, 0.8), -10px -10px 20px 4px rgba(19, 25, 37, 0.8); 
        border: 1px solid var(--c-gold-dimmer)
    }
}

.user-css-vignette, .article-horizontal-navigation {
    font-family: var(--f6);
    font-size: 16px;
    color: var(--c-light);

    a {
        color: var(--c-cyan-dark);
        text-decoration: none;
        transition: all 100ms ease;
        border: 1px solid transparent;
        border-radius: 4px;
        white-space: nowrap;

        &:hover, &:focus {
            padding: 2px;
            color: var(--c-cyan);
            border-color: var(--c-cyan);
        }

        &:active {
            background: var(--c-cyan);
            color: var(--c-light);
        }
    }
}

.user-css-vignette {

    .main-article-link {
        display: block;
        margin-left: 2em;
        font-style: italic;
        font-size: 13px;
        margin-bottom: 10px;

        a {
            padding: 2px 4px !important;
            border: 1px solid var(--c-cyan-dark);
            color: var(--c-cyan-dark);

            &:hover, &:focus {
                padding: 2px 4px !important;
                border: 1px solid var(--c-cyan);
                background: var(--c-cyan);
                color: var(--c-lightest);
            }
        }
    }

    h2 {
        padding-top: 5px;

        &:nth-child(1) {
            padding-top: 0;
        }
    }

    h3 {
        padding-top: 20px;
    }

    h4 {
        padding: 15px 0 6px 0;
    }
}

div.artist-credits {
    font-family: var(--f6);
    color: var(--c-light);

    a {
        color: var(--c-cyan-dark);
        transition: all 100ms ease;

        &:hover, &:focus {
            color: var(--c-cyan);
        }
    }
}

.tooltipster-sidetip.tooltipster-light {
    color: var(--c-light);

    a {
        color: var(--c-cyan-dark);
        text-decoration: none;
        transition: all 100ms ease;
        border: 1px solid transparent;
        border-radius: 4px;
        white-space: nowrap;

        &:hover, &:focus {
            padding: 2px;
            color: var(--c-cyan);
            border-color: var(--c-cyan);
        }

        &:active {
            background: var(--c-cyan);
            color: var(--c-light);
        }
    }

    .tooltipster-box {
        border-radius: 0;
        border: none;
        background: rgba(2, 2, 7, 0.95);
        box-shadow: 10px 10px 20px 4px rgba(19, 25, 37, 0.8), -10px -10px 20px 4px rgba(19, 25, 37, 0.8); 

        .tooltipster-content {
            font-family: var(--f6);
            font-size: 16px;
            line-height: 1.5;
        
            p {
                font-family: var(--f6);
                font-size: 16px;
                line-height: 1.5;
            }
        
            h2 {
                font-family: var(--f2);
                color: var(--c-gold-dim);
                letter-spacing: 1px;
                text-transform: none;
                font-variant: small-caps;
                border-bottom: 1px solid rgba(88, 61, 3, 0.7);
                padding-top: 0;
                margin-top: 10px;
                text-align: center;
            }
        
            h3 {
                font-family: var(--f4);
                color: var(--c-gold-dim);
                letter-spacing: 1px;
                font-size: 24px;
            }
        
            h4 {
                font-family: var(--f3);
                color: var(--c-gold-dark);
                letter-spacing: 1px;
                font-size: 18px;
            }

            .article-subheading, .articletablecontents {
                display: none;
            }
        }

        .btn-sm.article-link.article-explorer-link {
            padding: 5px 14px;
            font-size: 14px;
            color: var(--c-cyan-dark);
            border-color: var(--c-cyan-dark);

            &:hover, &:focus {
                color: var(--c-lightest);
                border-color: var(--c-cyan);
                background: var(--c-cyan);
            }
    
            &:active {
                filter: brightness(120%);
            }
        }

    }

    .tooltipster-arrow {
        display: none;

        .tooltipster-arrow-border, .tooltipster-arrow-background {
            border-color: rgba(2, 2, 7, 0.95);
            box-shadow: 10px 10px 20px 4px rgba(19, 25, 37, 0.8), -10px -10px 20px 4px rgba(19, 25, 37, 0.8); 
        }
    }
    

} 

.user-css {

    &.page-world-homepage, &.page-image {
        background-image: none;
        background: rgba(2, 2, 7, 0.9);
        box-shadow: 10px 10px 20px 4px rgba(19, 25, 37, 0.8), -10px -10px 20px 4px rgba(19, 25, 37, 0.8); 
        border: 1px solid var(--c-gold-dimmer);
        position: relative;

        .world-owners {
            font-family: var(--f6);
            font-size: 16px;
            line-height: 1.5;
            color: var(--c-light);

            a {
                color: var(--c-cyan-dark);
                text-decoration: none;
                transition: all 100ms ease;
                border: 1px solid transparent;
                border-radius: 4px;
                white-space: nowrap;
                padding: 2px 4px;
        
                &:hover, &:focus {
                    color: var(--c-cyan);
                    border-color: var(--c-cyan);
                }
        
                &:active {
                    background: var(--c-cyan);
                    color: var(--c-light);
                }
            }
        }
    
        .world-subtitle small {
            font-variant: small-caps;
            letter-spacing: 1px;
            color: var(--c-gold-dark);
            font-weight: 600;
            font-size: 16px;

        }

        .bottomnotch, .topnotch {
            position: absolute;
            background: var(--c-gold-dimmer);
            height: 25px;
            width: 145px;
            display: block;
        }

        .copyright-attribution {
            &::before, &::after {
                display: none;
            }
        }

        .bottomnotch {
            clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0 100%);
            bottom: -0px;
            right: 0px;
        }

        .topnotch {
            clip-path: polygon(0 0, 100% 0%, 75% 100%, 0 100%);
            top: 0;
            left: -202px;
        }


    }

    &.page-image {
        background: var(--c-lightest);
        border: 1px solid var(--c-cyan);

        h1, h2, h3, h4, p {
            color: var(--c-dark);
        }
        
        a {
            color: var(--c-cyan);
        }

        .nav-strip {
            padding: 10px;
            background-color: var(--c-cyan);
            font-family: var(--f3);
            font-size: 14px;
            font-weight: 400;
            z-index: 2;
            
            a {
                color: var(--c-lightest);
            }
        }

        .cover {
            border-bottom: var(--c-cyan);
        }
    }

    .article-content, p {
        font-family: var(--f6);
        font-size: 16px;
        line-height: 1.5;

        strong, b {
            font-weight: 900;
        }
    }

    h1 {
        font-family: var(--f1);
        color: var(--c-gold);
        font-variant: small-caps;
    }

    h2 {
        font-family: var(--f2);
        color: var(--c-gold-dim);
        text-stroke: 2px var(--c-gold-dim);
        letter-spacing: 1px;
        // text-shadow: 2px 3px 2px var(--c-dark),-1px -1px 0 var(--c-cyan-dark);
        text-transform: none;
        font-variant: small-caps;
        border-bottom: 1px solid rgba(88, 61, 3, 0.7);
    }

    h3 {
        font-family: var(--f4);
        color: var(--c-gold-dim);
        text-stroke: 2px var(--c-gold-dark);
        letter-spacing: 1px;
        // text-shadow: 2px 3px 2px var(--c-dark),-1px -1px 0 var(--c-cyan-dark);
        font-size: 24px;
        margin-bottom: 6px;
    }

    h4 {
        font-family: var(--f3);
        color: var(--c-gold-dark);
        text-stroke: 2px var(--c-gold-dark);
        letter-spacing: 1px;
        // text-shadow: 2px 3px 2px var(--c-dark),-1px -1px 0 var(--c-cyan-dark);
        font-size: 18px;
    }

    h5 {
        font-family: var(--f5);
        color: var(--c-gold-dark);
        text-stroke: 2px var(--c-gold-dark);
        letter-spacing: 1px;
        // text-shadow: 2px 3px 2px var(--c-dark),-1px -1px 0 var(--c-cyan-dark);
    }

    .world-content, .breadcrumb-world-link-wrapper, .article-title-icon, .backtoworld, .breadcrumb-contents-loader {
        display: none;
    }

    .cover {
        border-bottom: 1px solid var(--c-gold-dimmer)
    }

    .backlink {
        position: absolute;
        clip-path: polygon(0 0, 100% 0%, 75% 100%, 0 100%);
        height: 25px;
        width: 145px;
        top: 0;
        left: -10px;
        display: block;

        a {
            background:var(--c-gold-dimmer);
            display: block;
            transition: all 200ms ease-in-out;
            text-decoration: none;
            padding: 5px 10px;

            h2 {
                color:rgba(88, 61, 3, 0.05);
                font-size: 12px;
                margin: 0;
                padding: 0;
                white-space: nowrap;
                border: none;
            }

            &:hover, &:focus {
                background: rgba(255, 179, 13, 0.9);

                h2 {
                    color:var(--c-gold-dark);
                }
            }
        }


    }

    .bottomnotch {
        position: absolute;
        clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0 100%);
        background: var(--c-gold-dimmer);
        height: 25px;
        width: 145px;
        bottom: -85px;
        right: -10px;
        display: block;
    }

    .breadcrumb, .article-subheading, .nav-linear {
        font-family: var(--f3) !important;
        font-size: 13px;
    }

    .article-subheading {
        color: var(--c-gold-dark);
        font-variant: small-caps;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .breadcrumb {
        padding: 0 5px;
        margin-bottom: 20px;
        list-style: none;
        background-color: none;
        border-radius: 0;
        position: relative;
        background: none;

        .breadcrumb-article-link {
            margin-right: 8px;
            margin-left: -10px;
            color: var(--c-cyan-dark);
            text-decoration: none;
            transition: all 100ms ease;
            padding: 2px 4px;
            border: 1px solid transparent;
            border-radius: 4px;

            &:hover, &:focus {
                color: var(--c-cyan);
                border-color: var(--c-cyan);
            }

            &:active {
                background: var(--c-cyan);
                color: var(--c-light);
            }

        }

        .breadcrumb-article-wrapper {
            position: relative;
        }

        .breadcrumb-article-current {
            margin-left: -5px;
            color: var(--c-cyan);
            font-weight: 700;
            // text-transform: uppercase;
            letter-spacing: 1px;
        }

        i.fa-ellipsis-h {
            margin-left: -16px;
            visibility: hidden;
        }

        i.fa-chevron-right{
            margin-right: 18px;
            margin-left: -10px;

            &::before {
                content: url(https://www.worldanvil.com/uploads/images/f58272769172069703427b677a19a9e5.svg) !important;
                width: 10px;
                display: block;
                position: absolute;
                top: 3px;
            }
        }
    }

    .article-subheading {
        padding-left: 0;
    }

    .articletablecontents {
        clip-path: polygon(10px 0%, 100% 0, 100% calc(100% - 10px), 725px 100%, 0 100%, 0 10px);

        .spoiler-button {
            padding: 0.6em 1.5em;
            // clip-path: polygon(2% 0%, 100% 0, 100% 100%, 90% 100%, 0 100%, 0 30%);
            color: var(--c-light);
            background: var(--c-cyan-dark);
            text-decoration: none;
            font-family: var(--f2);
            border: none;
            border-radius: 0;
            text-align: center;
            margin-bottom: 0;
            display: flex;
            justify-content: center;
            transition: all 180ms ease-in-out;
            
            &:hover, &:focus {
                background: var(--c-cyan);
                color: var(--c-light);
            }
    
            &:active {
                filter: brightness(140%);
            }
        }


        .spoiler-content {
            background: var(--c-cyan-dark);
            border-radius: 0;
            border: none;
            // clip-path: polygon(0 0, 100% 0, 100% 99%, 98% 100%, 0 100%);
            padding: 1px;
            clip-path: polygon(0px 0%, 100% 0, 100% calc(100% - 10px), 725px 100%, 0 100%);
        }

        .card {
            border-radius: 0;
        }

        .articletoc {
            background: var(--c-dark);
            // clip-path: polygon(0 0, 100% 0, 100% 99%, 98% 100%, 0 100%);
            clip-path: polygon(0px 0%, 100% 0, 100% calc(100% - 10px), 724px 100%, 0 100%);
            border: none;
            padding: 0.6em 0 0.8em 0;
            width: 100%;

            .article-toc-link {
                padding: 3px 1.7em;
                margin-bottom: 6px;
                cursor: pointer;
                transition: 60ms 75ms all ease-out;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
                border-radius: 0;
                color: var(--c-cyan-dark);
                // display: flex;
                position: relative;

                &::before {
                    content: url(.);
                    height: 100%;
                    width: 0;
                    transition: width 50ms;
                    // background: var(--c-cyan);
                    background: var(--c-gold);
                    border-radius: 0;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                }

                &.article-toc-indent-1 {
                    padding-left: 2.8em;
                }

                &:hover, &:focus {
                    // background: var(--c-lightest);
                    color: var(--c-gold);
                    border-color: var(--c-gold);

                    &::before {
                        width: 12px;
                    }
                }

                &:active {
                    // background: var(--c-cyan);
                    // color: var(--c-lightest);
                    filter: brightness(125%);
                }
            }
        }

    }

    .image-block {
        text-align: center;
    }

    .copyright-attribution {
        font-size: .7em;
        text-align: center;
        font-family: var(--f6);
        color: var(--c-light);

        &::before {
            content: url(.);
            clip-path: polygon(60% 0%, 100% 0.00%, 40% 100%, 0% 100%);
            bottom: -85px;
            right: 115px;
            display: block;
            height: 25px;
            width: 60px;
            position: absolute;
            background: var(--c-gold-dimmer)
        }

        &::after {
            content: url(.);
            clip-path: polygon(60% 0%, 100% 0.00%, 40% 100%, 0% 100%);
            bottom: -85px;
            right: 155px;
            display: block;
            height: 25px;
            width: 60px;
            position: absolute;
            background:var(--c-gold-dimmer)
        }
    }

    .article-content-right {
        margin-right: 15px;
        padding: 0;
        width: 32.02% !important;

        .panel.panel-default.card {
            background: var(--c-cyan-dark);
            clip-path: polygon(96% 0px, 100% 0.6%, 100% 97%, 96% 97.6%, 96% 99.4%, 92% 100.00%, 4% 100%, 0px 99.4%, 0% 1.2%, 4% 0.6%, 24% 0.6%, 28% 0%);
            padding: 1px;
            position: relative;
            margin: 0 !important;

            & div {
                border: none;
                border-radius: 0;
                padding: 5px 10px;
                margin: 0;
                background: var(--c-dark);
                clip-path: polygon(96% 0px, 100% 0.6%, 100% 95%, 96% 95.6%, 96.00% 99.4%, 92% 100%, 4% 100%, 0px 99.4%, 0% 1.2%, 4% 0.6%, 32% 0.6%, 36% 0%);

                &.paragraph-align-center, &.sidebar-symbol, &.sidebar-flag, &.sidebar-icon, &.user-css-image-thumbnail, &.motto {
                    padding: 0;
                    background: none;
                    clip-path: none;
                }
            }
        }

        .sidebar-polity {
            font-family: var(--f1);
            font-size: 14px;
            color: var(--c-light);
            padding: 0 10px;

            em {
                font-size: 12.5px;
                font-style: normal;
            }
        
            a {
                color: var(--c-cyan);
                text-decoration: none;
                transition: all 100ms ease;
                white-space: nowrap;
        
                &:hover, &:focus {
                    filter: brightness(125%);
                }
        
                &:active {
                    filter: brightness(200%);
                }
            }

            ul {
                list-style: none;
                margin: 0;
                padding-left: 0;

                li {
                    margin-bottom: 8px;

                    &:nth-last-child(1) {
                        margin: 0;
                    }
                }
            }

            .table {
                background: none;
                margin-bottom: 0;
    
                tr {
                    background: none !important;
                }
                td {
                    background: none !important;
                    font-family: var(--f1);
                    font-size: 13px;
                    color: var(--c-light);
                    padding: 8px 0;
                    line-height: 1.4;
                    vertical-align: middle;
                    border-top: none;
                
                    a {
                        color: var(--c-cyan);
                        text-decoration: none;
                        transition: all 100ms ease;
                        white-space: nowrap;
                        font-family: var(--f1);
                        font-size: 13px !important;
                
                        &:hover, &:focus {
                            filter: brightness(125%);
                        }
                
                        &:active {
                            filter: brightness(200%);
                        }
                    }
    
                    &:nth-child(1) {
                        font-family: var(--f2);
                        color: var(--c-gray-light);
                        font-size: 12.5px;
                    }
                }
            }
        }

        h2 {
            border: none;
            font-size: 28px;
            margin: 0;
            padding-top: 20px;
            line-height: 1.3;
            color: var(--c-cyan);
        }

        h3 {
            font-family: var(--f2);
            text-transform: uppercase;
            font-weight: 300;
            font-size: 12px !important;
            margin-bottom: 5px;
            font-style: initial;
            margin-top: 5px;
            color: var(--c-gray-light);
        }

        .motto {
            color: var(--c-light);
            font-family: var(--f1) !important;
            font-size: 14px;
            font-style: italic;
        }


        hr {
            border-top: 1px solid var(--c-cyan);
            margin: 0.5em 0;
        }

        .sidebar-symbol {
            display: flex;
            justify-content: space-between;
            font-family: var(--f6);
            font-size: 11px;
            line-height: 1;
            color: var(--c-light);

            .sidebar-flag, .sidebar-icon {
                .user-css-image-thumbnail {
                    height: 120px;
                    max-height: 120px;
                    padding: 0 !important;
                    margin-bottom: 8px !important;
                    display: flex;
                    align-items: center;

                    img {
                        max-height: 120px;
                    }
                }

                .artist-credits {
                    display: none;
                }
            }

            .sidebar-flag {

            }

            .sidebar-icon {
                .user-css-image-thumbnail {
                    background: var(--c-lightest) !important;

                    img {
                        text-align: center;
                        display: block;
                        margin: auto;
                        padding: 5px;
                        
                    }
                }
            }
        }


    }

    .article-panel {
        // background: rgba(2, 2, 7, 0.9);
        // transition: all 200ms ease-in-out;
        background: none;
        filter: drop-shadow(1px 1px 0 var(--c-cyan)) drop-shadow(-1px -1px 0 var(--c-cyan)) drop-shadow(1px -1px 0 var(--c-cyan)) drop-shadow(-1px 1px 0 var(--c-cyan));
        border-radius: 0;
        .cover {
            background-size: contain;
            border-bottom: 1px solid var(--c-cyan-dark);
        }

        a {
            background: rgba(2, 2, 7, 0.9);
            transition: all 200ms ease-in-out;
            border: none;
            clip-path: polygon(5% 0%, 100% 0, 100% 90%, 95% 100%, 0 100%, 0 10%);
            display: block;
            padding: 10px; 
            border-radius: 0;

            &:hover, &:focus, &:active {
                padding: 10px; 
                border: none;
            }

            &:hover, &:focus {
                transform: scale(1.05);
                // box-shadow: 10px 10px 20px 4px rgba(19, 25, 37, 0.8), -10px -10px 20px 4px rgba(19, 25, 37, 0.8); 
            }
        }
        
        .details {
            h5 {
                font-family: var(--f4);
                color: var(--c-cyan);
            }
            .excerpt {
                font-family: var(--f5);
                color: var(--c-light);
                font-size: .9em;
                text-align: center;
            }

            .subheading {
                display: none; 
            }
        }

        &:hover, &:focus {
            filter: drop-shadow(1px 1px 0 var(--c-gold)) drop-shadow(-1px -1px 0 var(--c-gold)) drop-shadow(1px -1px 0 var(--c-gold)) drop-shadow(-1px 1px 0 var(--c-gold));

            .cover {
                border-bottom: 1px solid var(--c-gold);
            }

            .details {
                h5 {
                    color: var(--c-gold);
                }
            }
        }

    }
}
