.user-css-presentation .topnav ul {
    .topnav-link.link-active-oecumene {
        pointer-events: none;
        
        &::before, &::after {
            opacity: 1;
        }
        li {
            background: var(--c-gold-dim);

            a {
                color: var(--c-gold-dim);
                pointer-events: none;
            }
        }
    }
}
.user-css-presentation .topnav ul {
    .topnav-link.link-active-communion {
        pointer-events: none;
        
        &::before, &::after {
            opacity: 1;
        }
        li {
            background: var(--c-gold-dim);

            a {
                color: var(--c-gold-dim);
                pointer-events: none;
            }
        }
    }
}
.user-css-presentation .topnav ul {
    .topnav-link.link-active-principalia {
        pointer-events: none;
        
        &::before, &::after {
            opacity: 1;
        }
        li {
            background: var(--c-gold-dim);

            a {
                color: var(--c-gold-dim);
                pointer-events: none;
            }
        }
    }
}
.user-css-presentation .topnav ul {
    .topnav-link.link-active-people {
        pointer-events: none;
        
        &::before, &::after {
            opacity: 1;
        }
        li {
            background: var(--c-gold-dim);

            a {
                color: var(--c-gold-dim);
                pointer-events: none;
            }
        }
    }
}
.user-css-presentation .topnav ul {
    .topnav-link.link-active-compendium {
        pointer-events: none;
        
        &::before, &::after {
            opacity: 1;
        }
        li {
            background: var(--c-gold-dim);

            a {
                color: var(--c-gold-dim);
                pointer-events: none;
            }
        }
    }
}
.user-css-presentation .topnav ul {
    .topnav-link.link-active-history {
        pointer-events: none;
        
        &::before, &::after {
            opacity: 1;
        }
        li {
            background: var(--c-gold-dim);

            a {
                color: var(--c-gold-dim);
                pointer-events: none;
            }
        }
    }
}